<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
    <h1>Pivot</h1>
    <p>
        <span>The Pivot is a css only control you can use for tab based navigation. It is based on aria attributes so the specific tags are irrelevant to the style. See</span>
        <a class="sme-link" routerLink="/dev/styles/spacing">Accessibility</a>
        <span>for more information.</span>
    </p>
    <p>For performance, it is usually better to lazy load the contents of the tab using routing or some other mechanism.</p>

    <h2>Class Structure</h2>
    <section>
        <h3>Pivot Container</h3>
        <p>The Pivot starts with a container element. this element must have the <b>.sme-pivot</b> class.</p>
        <p>All other pvot elements must be within this container.</p>
    </section>

    <section>
        <h3>Pivot Header</h3>
        <p>The Pivot Header is required and must have the <b>role="tablist"</b> attribute assigned</p>

        <p>inside the header each child must apply the <b>role="tab"</b> attribute.</p>

        <p>There are two ways to set up this control depending on if lazy loading is implemented.</p>

        <section>
            <h3>Non-Lazy</h3>
            <p>In this approach, each 'tab' element should: </p>
            <ol>
                <li>Use the <b>aria-controls</b> attriute to specify the id of the tab panel that this tab belongs to.</li>
                <li>Use the <b>aria-selected</b> attriute (set to true or false) to indicate the selected tab and get the appropriete styling</li>
            </ol>

            <h3>Lazy</h3>
            <p>This approach is usually best when working with frameworks like angular and rxjs. In this approach, each 'tab' element should:</p>
            <ol>
                <li>Apply the <b>.sme-active</b> class to indicate the selected tab and get the appropriete styling</li>
            </ol>
            <p>Note: this has some none accessability issues and will be address with an angular control in a future release to use the aria-selected attribute instead of the .sme-active class.</p>
        </section>
    </section>


    <section>
        <h3>Pivot Content</h3>
        <p>The Pivot Content is optional and defined by elements with the <b>role="tabpanel"</b> attribute assigned. This content is only applicable to non-lazy load scenarios.</p>
        <p>Each 'tabpanel' element should:</p>
        <ol>
            <li>Apply an <b>id</b> attribute the corrosponds to a 'tab' elements <b>aria-controls</b> attribute</li>
            <li>Use the <b>aria-hidden</b> attriute to indicate the selected tab content and get the appropriete visibility</li>
        </ol>
    </section>


    <h2>Examples</h2>

    <section>
        <h3>Non-Lazy</h3>

        <code>&lt;div class="sme-pivot"&gt;
     &lt;header role="tablist"&gt;
         &lt;a role="tab" aria-controls="pivot-target-1" href="#" aria-selected="true" class="sme-active"&gt;Tab 1&lt;/a&gt;
         &lt;a role="tab" aria-controls="pivot-target-2" href="#" aria-selected="false"&gt;Tab 2&lt;/a&gt;
         &lt;a role="tab" aria-controls="pivot-target-3" href="#" aria-selected="false"&gt;Tab 3&lt;/a&gt;
     &lt;/header&gt;
     &lt;section role="tabpanel" id="pivot-target-1" aria-hidden="false"&gt; Tab 1 &lt;/section&gt;
     &lt;section role="tabpanel" id="pivot-target-2" aria-hidden="true"&gt; Tab 1 &lt;/section&gt;
     &lt;section role="tabpanel" id="pivot-target-3" aria-hidden="true"&gt; Tab 1 &lt;/section&gt;
 &lt;/div&gt;</code>

    </section>


    <section>
        <h3>Lazy (using Angular's router directives)</h3>
        <code>&lt;div class="sme-pivot"&gt;
    &lt;div role="tablist"&gt;
        &lt;a role="tab" routerLink="/route1" routerLinkActive="sme-active"&gt;Route 1&lt;/a&gt;
        &lt;a role="tab" routerLink="/route2" routerLinkActive="sme-active"&gt;Route 2&lt;/a&gt;
        &lt;a role="tab" routerLink="/route3" routerLinkActive="sme-active"&gt;Route 3&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code>
    </section>

</div>