<div class="sme-layout-absolute sme-position-vertical-none sme-position-horizontal-md">
  <a href="#">Just a link to test focus.</a>
  <h3>Defined actions from component</h3>
  <sme-action-bar [actions]="actions" (executed)="onExecuted($event)"></sme-action-bar>

  <!-- Used to test keyboard controls -->
  <div hidden>
    <h3>Hidden action bar</h3>
    <sme-action-bar [actions]="actions" (executed)="onExecuted($event)"></sme-action-bar>
  </div>

  <div class="sme-layout-none">
    <h3>Display:none action bar</h3>
    <sme-action-bar [actions]="actions" (executed)="onExecuted($event)"></sme-action-bar>
  </div>

  <h3>All buttons disabled</h3>
  <sme-action-bar (executed)="onExecuted($event)">
    <sme-action-button #action text="Disabled" [enabled]="false"></sme-action-button>
    <sme-action-button #action text="Disabled" [enabled]="false"></sme-action-button>
    <sme-action-button #action text="Disabled" [enabled]="false"></sme-action-button>
  </sme-action-bar>
  <!-- End test keyboard controls -->

  <h3>Defined actions from html</h3>
  <sme-action-bar (executed)="onExecuted($event)">
    <sme-action-button #action [text]="'start enabled'" [enabled]="enableToggle" (execute)="enableToggle = !enableToggle"></sme-action-button>
    <sme-action-dropdown #action [text]="'I am a dropdown'">
      <sme-action-button #action [text]="'start enabled'" [enabled]="enableToggle" (execute)="enableToggle = !enableToggle"></sme-action-button>
      <sme-action-button #action [text]="'starts disabled'" [enabled]="!enableToggle" (execute)="enableToggle = !enableToggle"></sme-action-button>
      <sme-action-button #action [text]="'i can be toggled'" [toggled]="enableToggle" (execute)="enableToggle = !enableToggle"></sme-action-button>
      <sme-action-button #action *ngFor="let inline of inlineItems; let i = index" [text]="inline" (execute)="removeInline(i)"></sme-action-button>
    </sme-action-dropdown>
    <sme-action-button #action [text]="'starts disabled'" [enabled]="!enableToggle" (execute)="enableToggle = !enableToggle"></sme-action-button>
    <sme-action-button #action [text]="'i can be toggled'" [toggled]="enableToggle" (execute)="enableToggle = !enableToggle"></sme-action-button>
    <sme-action-button #action *ngFor="let inline of inlineItems; let i = index" [text]="inline" (execute)="removeInline(i)"></sme-action-button>
  <sme-action-button-async #action text="Async button" (execute)="asyncAction($event)"></sme-action-button-async>
  </sme-action-bar>

  <h3>Defined actions from both</h3>
  <sme-action-bar [actions]="actions" (executed)="onExecuted($event)">
    <sme-action-button #action *ngFor="let inline of inlineItems; let i = index" [text]="inline" (execute)="removeInline(i)"></sme-action-button>
  </sme-action-bar>

  <h3>Model Driven example</h3>
  <sme-action-bar #custom [actions]="customActions" [target]="actionTarget" (error)="onError($event)" (executed)="onExecuted($event)">
  </sme-action-bar>


  <h3>Local action bar example</h3>
  <div [smeActionBar]="actionBar" style="height: 200px;" class="sme-border-inset-md"></div>
  <sme-action-bar #actionBar>
    <sme-action-button #action [text]="'Add'" [iconClass]="'sme-icon sme-icon-add'"></sme-action-button>
    <sme-action-button #action [text]="'Remove'" [iconClass]="'sme-icon sme-icon-remove'"></sme-action-button>
    <sme-action-button #action [text]="'Edit'" [iconClass]="'sme-icon sme-icon-edit'"></sme-action-button>
    <sme-action-button #action [text]="'Attach'" [iconClass]="'sme-icon sme-icon-attach'"></sme-action-button>
    <sme-action-button #action [text]="'Clear'" [iconClass]="'sme-icon sme-icon-clear'"></sme-action-button>
    <sme-action-button #action [text]="'Schedule'" [iconClass]="'sme-icon sme-icon-dateTime2'"></sme-action-button>
    <sme-action-button #action [text]="'Flag'" [iconClass]="'sme-icon sme-icon-flag'"></sme-action-button>
    <sme-action-dropdown #action [text]="'I am a dropdown'" [iconClass]="'sme-icon sme-icon-server'">
      <sme-action-button #action [text]="'Add'" [iconClass]="'sme-icon sme-icon-add'"></sme-action-button>
      <sme-action-button #action [text]="'Remove'" [iconClass]="'sme-icon sme-icon-remove'"></sme-action-button>
      <sme-action-button #action [text]="'Edit'" [iconClass]="'sme-icon sme-icon-edit'"></sme-action-button>
      <sme-action-button #action [text]="'Attach'" [iconClass]="'sme-icon sme-icon-attach'"></sme-action-button>
      <sme-action-button #action [text]="'Clear'" [iconClass]="'sme-icon sme-icon-clear'"></sme-action-button>
      <sme-action-button #action [text]="'Schedule'" [iconClass]="'sme-icon sme-icon-dateTime2'"></sme-action-button>
      <sme-action-button #action [text]="'Flag'" [iconClass]="'sme-icon sme-icon-flag'"></sme-action-button>
    </sme-action-dropdown>
  </sme-action-bar>
</div>
