<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
  <p>Use the validation-alert component when you want to communicate a message about the state of a form field to the user.</p>
  <h2>Examples</h2>
  <section>
    <h3>Code:</h3>
    <code>&lt;sme-validation-alert [alert]="alert"&gt;&lt;/sme-validation-alert&gt;</code>

    <h3>Pending</h3>
    <div class="sme-documentation-example">
      <sme-validation-alert [alert]="model.alerts.pending"></sme-validation-alert>
    </div>
    <p><b>Alert:</b></p>
    <code>{{'{'}} message: 'This is a pending alert', pending: true}</code>

    <h3>Error</h3>
    <div class="sme-documentation-example">
      <sme-validation-alert [alert]="model.alerts.error"></sme-validation-alert>
    </div>
    <p><b>Alert:</b></p>
    <code>{{'{'}} message: 'This is a error alert', severity: ValidationAlertSeverity.Error, valid: false}</code>

    <h3>Warning</h3>
    <div class="sme-documentation-example">
      <sme-validation-alert [alert]="model.alerts.warn"></sme-validation-alert>
    </div>
    <p><b>Alert:</b></p>
    <code>{{'{'}} message: 'This is a warning alert', severity: ValidationAlertSeverity.Warning, valid: true}</code>

    <h3>Informational</h3>
    <div class="sme-documentation-example">
      <sme-validation-alert [alert]="model.alerts.info"></sme-validation-alert>
    </div>
    <p><b>Alert:</b></p>
    <code>{{'{'}} message: 'This is a info alert', severity: ValidationAlertSeverity.Informational, valid: true}</code>

    <h3>Success</h3>
    <div class="sme-documentation-example">
      <sme-validation-alert [alert]="model.alerts.success"></sme-validation-alert>
    </div>
    <p><b>Alert:</b></p>
    <code>{{'{'}} message: 'This is a success alert', valid: true}</code>
  </section>
  <h2>Using Markdown</h2>
  <section>
    <p>alerts may also use markdown to render the message by setting isMarkdownMessage to true in the alert object</p>

    <h3>Error with markdown</h3>
    <div class="sme-documentation-example">
      <sme-validation-alert [alert]="model.alerts.markdown"></sme-validation-alert>
    </div>
    <p><b>Alert:</b></p>
    <code>{{'{'}} message: '[markdown string]', severity: ValidationAlertSeverity.Error, valid: false, isMarkdownMessage: true}</code>
  </section>
</div>
