<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
    <h1>Accessible visual design</h1>
    <section>
      <p>When designing a control or an application, it is important to keep accessibility in perspective. An accessible design will cost less in the long run as compared to design which is not accessible at all. It often requires redesigning and result in significant code churn.</p>
    </section>
    <section>
      <h2>General guidelines</h2>
      <ul>
        <li><b>Text Alternative:</b>Provide text alternatives for any non-text content so that it can be changed into other forms people need, such as large print, braille, speech, symbols or simpler language. Examples of non-text content is videos, images, graphs etc.</li>
        <li><b>Contrast:</b> Color is not used as the only visual means of conveying information, indicating an action, prompting a response, or distinguishing a visual element.</li>
        <li><b>Images Of Text:</b> If the technologies being used can achieve the visual presentation, text is used to convey information rather than images of text except Logos.</li>
        <li><b>Page Titles:</b> All pages should have titles. Should describe topic or purpose.</li>
        <li><b>Link Purpose:</b> The purpose of each link can be determined from the link text alone or from the link text together with its programmatically determined link context, except where the purpose of the link would be ambiguous to users in general.</li>
        <li><b>Heading and Label:</b> Headings and labels describe topic or purpose.</li>
        <li><b>Labels or Instructions:</b> Labels or instructions are provided when content requires user input.</li>
      </ul>
    </section>
    <section>
      <h2>Color Contrast</h2>
      <p>Content coming soon...</p>
    </section>
    <section>
      <h2>Responsive Design</h2>
      <p>Content coming soon...</p>
    </section>
</div>
