<div class="stretch-absolute flex-layout vertical">
  <sme-tool-header>
      <!-- <ul class="nav nav-tabs fixed-flex-size" role="tablist">
        <li role="presentation"><a routerLink="/controls" routerLinkActive="active" role="tab">{{ strings.HelloWorld.nav.controls }}</a></li>
        <li role="presentation"><a routerLink="/notifications" routerLinkActive="active" role="tab">{{ strings.HelloWorld.nav.alerts }}</a></li>
        <li role="presentation"><a routerLink="/style" routerLinkActive="active" role="tab">{{ strings.HelloWorld.nav.styles }}</a></li>
      </ul> -->
  </sme-tool-header>
  <div class="auto-flex-size relative">
    <router-outlet></router-outlet>
  </div>
</div>