<form [smeSettingsForm]="sampleForm" aria-labelledby="sme-shell-setting-selectedTitle">
  <sme-settings-content>
    <fieldset [disabled]="saving" [formGroup]="sampleForm">
      <div class="form-group">
        <div class="form-input">
          <label for="name">
            {{nameLabel}}
          </label>
          <input id="name" type="text" class="form-control" formControlName="name" required autofocus/>
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
      </div>
    </fieldset>
  </sme-settings-content>
  <sme-settings-footer class="footer">
    <button type="submit" class="btn btn-primary" (click)="onSaveClick()" [disabled]="!sampleForm.dirty || !sampleForm.valid || saving">{{ saveButtonLabel }}</button>
    <button type="button" class="btn btn-secondary" (click)="onDiscardClick()" [disabled]="!sampleForm.dirty || saving">{{ discardButtonLabel }}</button>
    <button type="button" class="btn btn-secondary" (click)="onCloseClick()">{{ closeButtonLabel }}</button>
  </sme-settings-footer>
</form>
