<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
  <p>
    <i>Buttons</i>
    <span>
      are typically used for “final” actions. The intent is to “complete” a user flow. For example, use buttons at
      the end of a form to submit it; the end of a dialog to close it, accept it, or move to the next one; or the end of
      a settings are typically used for “final” actions. The intent is to “complete” a user flow. For example, use
      buttons at the end of a form to submit it; the end of a dialog to close it, accept it, or move to the next one; or
      the end of a settings screen to commit changes. The main concept is finishing or finalizing. The text of a button
      communicates to the user what will happen after interacting with it.
    </span>
  </p>
  <p>
    Buttons can navigate a user elsewhere but only because they are done with an action or their flow. Style variations,
    including text and background colors, have been vetted for a variety of use cases and accessibility.
    Buttons can navigate a user elsewhere but only because they are done with an action or their flow. Style variations,
    including text and background colors, have been vetted for a variety of use cases and accessibility.
  </p>
  <h2>Button Styles</h2>
  <section>
    <h3> Secondary Button (Default Style)</h3>
    <section>
      <div class="sme-documentation-example">
        <button>Button</button>
        <button disabled>Disabled Button</button>
      </div>
      <code>{{code.example1}}</code>
    </section>
    <h3> Primary/Submit Button</h3>
    <section>
      <div class="sme-documentation-example">
        <button class="sme-button-primary">Button</button>
        <button class="sme-button-primary" disabled>Disabled Button</button>
        <button type="submit">Submit</button>
        <button class="sme-button-primary sme-button-critical">Critical</button>
        <button class="sme-button-primary sme-button-critical" disabled>Critical Disabled</button>
        <button class="sme-button-primary sme-button-warning">Warning</button>
        <button class="sme-button-primary sme-button-warning" disabled>Warning Disabled</button>
      </div>
      <code>{{code.example2}}</code>
    </section>
    <h3>Button Trigger (Action Trigger)</h3>
    <section>
      <div class="sme-documentation-example">
        <button class="sme-button-trigger">Button</button>
        <button class="sme-button-trigger" disabled>Disabled Button</button>
      </div>
      <code>{{code.example3}}</code>
    </section>
  </section>

  <h2>Other Elements</h2>
  <section>
    <p>
      Button styles are not limited to button elements. Any element with the <b>.sme-button</b> class can act as a
      button. Just be sure to include the necessary accessability attributes.
    </p>
    <h3> Anchor as Button </h3>
    <section>
      <p>
        When using an anchor as a button, you should use the role attribute. If there is no href attribute, then also
        apply a tabIndex to the element.
      </p>

      <div class="sme-documentation-example">
        <a role="button" class="sme-button">Anchor Button</a>
        <a role="button" class="sme-button" disabled>Anchor Disabled Button</a>
        <a role="button" class="sme-button sme-button-primary">Anchor Primary Button</a>
        <a role="button" class="sme-button sme-button-primary" disabled>Anchor Primary Disabled Button</a>
        <a role="button" class="sme-button sme-button-trigger">Anchor Trigger Button</a>
        <a role="button" class="sme-button sme-button-trigger" disabled>Anchor Trigger Disabled Button</a>
      </div>
      <code>{{code.example4}}</code>
    </section>
    <h3> div as Button </h3>
    <section>
      <p>
        Like the anchor, div (or any other element) as a button should use the role attribute. These buttons should
        always apply a tabIndex to the element.
      </p>
      <div class="sme-documentation-example">
        <div role="button" class="sme-button">Div Button</div>
        <div role="button" class="sme-button sme-disabled" disabled>Div Disabled Button</div>
        <div role="button" class="sme-button sme-button-primary">Div Primary Button</div>
        <div role="button" class="sme-button sme-button-primary sme-disabled" disabled>Div Primary Disabled Button</div>
        <div role="button" class="sme-button sme-button-trigger">Div Trigger Button</div>
        <div role="button" class="sme-button sme-button-trigger" disabled>Div Trigger Disabled Button</div>
      </div>
      <code>{{code.example5}}</code>
    </section>
  </section>
</div>
