<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
  <sme-header type="tool-header" text="SME Header Control"></sme-header>
  <p>To achieve accessibility with correct heading structure, header control is created which fixes the actual level of heading but can style it to look like any style available.</p>

  <p>This is an example of tool Header styled as default</p>
  <p><code>type="tool-header" text="Tool 1"</code></p>
  <sme-header type="tool-header" text="Tool 1"></sme-header>

  <p>Tool header with sme-bagde </p>

  <sme-header text="Tool 2" type="tool-header">
    <sme-badge type="credsspenabled"></sme-badge>
  </sme-header>

  <p>This is an example of Dialog Header styled as default</p>
  <p><code>type="dialog-header"</code></p>
  <sme-header type="dialog-header" text="Dialog Contoso"></sme-header>

  <p>This is an example of Settings Header styled as H1</p>
  <p><code>level="h1" type="settings-page-header" text="Setting Page 1</code></p>
  <sme-header type="settings-page-header" text="Setting Page 1" level="1"></sme-header>
</div>
