<div class="sme-margin-horizontal-lg">
  <p>This is a stacked capacity bar chart</p>
  <sme-stacked-horizontal-bar-chart [bars]="bars" [total]="capacityStackedBarChartTotal"></sme-stacked-horizontal-bar-chart>

  <br>

  <p>This is a stacked capacity bar chart using legend control. Both chart and legend are using the default capacity color scheme - up two two color bars</p>
  <sme-stacked-horizontal-bar-chart [bars]="bars2" [total]="capacityStackedBarChartTotal" [legendData]="legendData" [legendTotalData]="legendTotalData"></sme-stacked-horizontal-bar-chart>

  <p>This is the same bar chart and legend as above, but using user-specified color schemes</p>
  <sme-stacked-horizontal-bar-chart [bars]="bars2" [normalColorScheme]="normalColorScheme" [warningColorScheme]="warningColorScheme" [criticalColorScheme]="criticalColorScheme" [total]="capacityStackedBarChartTotal" [legendData]="legendData" [legendTotalData]="legendTotalData"></sme-stacked-horizontal-bar-chart>


  <p>This is a stacked capacity bar chart using its own legend control, with a chart title and total legend data. The legend color indicators are also hidden in high contrast mode.</p>
  <sme-stacked-horizontal-bar-chart [bars]="bars3"  description="this is a description for a screen reader" [total]="capacityStackedBarChartTotal3" [legendData]="legendData3" [legendTotalValue]="capacityStackedBarChartTotal3" chartTitle="Bar chart with title and legend"></sme-stacked-horizontal-bar-chart>

  <br>
  <p>Click this button to redraw the charts above.</p>
  <button (click)="redrawCharts()">Redraw</button>

  <br>
  <p>Click this button to redraw the third chart with different total value.</p>
  <button (click)="changeChartTotal()">Redraw</button>
</div>

