<div class="sme-layout-absolute sme-position-inset-none sme-documentation sme-arrange-stack-v sme-position-horizontal-md">
    <h1>Property Grid Component</h1>
    <p>
        The Property Grid component displays a list of properties related to an object or context in a grid-like fashion.
    </p>

    <form class="sme-margin-bottom-lg">
        <sme-form-field type="toggle-switch" name="oneColumn" [(ngModel)]="oneColumn" label="Arrange Vertically"></sme-form-field>
    </form>

    <h2>Example</h2>

    <sme-property-grid class="sme-position-flex-auto sme-documentation-example" [orientation]="oneColumn? 'vertical' : 'horizontal'">
        <sme-property-grid-item label="Link Property" value="Go to styles" link="/dev/styles"></sme-property-grid-item>
        <sme-property-grid-item label="Tooltip Property" value="Check the icon above for a tooltip" tooltip="This is a simple tooltip" status="unknown"></sme-property-grid-item>
        <sme-property-grid-item label="Action Property" value="Click here to take an internal action. and some other garbage text that makes this really long" status="error" [columnSpan]="2" [action]="propertyAction"></sme-property-grid-item>
        <sme-property-grid-item label="Simple Property" value="value"></sme-property-grid-item>
        <sme-property-grid-item label="Link Property" value="Go to Bing" link="http:\\www.bing.com" status="info" [isExternalLink]="true"></sme-property-grid-item>
        <sme-property-grid-item label="Tooltip Property" value="Check the icon above for a tooltip" tooltip="This is a simple tooltip"></sme-property-grid-item>
        <sme-property-grid-item label="Action Property" value="Click here to take an internal action" [action]="propertyAction"></sme-property-grid-item>
        <sme-property-grid-item label="Simple Property" value="value" status="warning" iconClass="sme-icon-disconnectDrive" [columnSpan]="2"></sme-property-grid-item>
        <sme-property-grid-item label="Link Property" value="Go to Microsoft" link="http:\\www.microsoft.com" [isExternalLink]="true"></sme-property-grid-item>
        <sme-property-grid-item label="Tooltip Property" value="Check the icon above for a tooltip" tooltip="This is a simple tooltip"></sme-property-grid-item>
        <sme-property-grid-item label="Action Property" value="Click here to take an internal action" [action]="propertyAction"></sme-property-grid-item>
        <sme-property-grid-item label="Array Property" [value]="['item 1','item 2','item 3']"></sme-property-grid-item>
        <sme-property-grid-item label="Array Property" [value]="['item 1',['item 1','item 2','item 3'],'item 3']"></sme-property-grid-item>
        <sme-property-grid-item label="Object Property" [value]="{item1:true,item2:false,item3:75}"></sme-property-grid-item>
    </sme-property-grid>

</div>