<div class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
    <section class="sme-position-flex-none">
        <h2>Layout Component</h2>
    </section>
    <div class="sme-position-flex-auto sme-arrange-overflow-auto">
        <sme-layout #layout>
            <sme-layout-definition name="narrow" [until]="1000" [columns]="1"></sme-layout-definition>
            <sme-layout-definition name="medium" [until]="1500" [columns]="2"></sme-layout-definition>
            <sme-layout-definition name="wide" [columns]="3"></sme-layout-definition>
            <sme-layout-item caption="Layout Item 1" [columnSpan]="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet et urna vitae porttitor. In vehicula
                viverra odio a lobortis. Vivamus semper fermentum posuere. Ut sagittis justo tempus felis facilisis varius.
                Maecenas egestas dapibus ipsum sed laoreet. Nunc tempus, nibh tempus malesuada tristique, mauris sem convallis
                nisl, at porttitor eros lacus ac mauris. Suspendisse dignissim vulputate neque, quis gravida erat congue
                a.
            </sme-layout-item>
            <sme-layout-item caption="Layout Item 2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet et urna vitae porttitor. In vehicula
                viverra odio a lobortis. Vivamus semper fermentum posuere. Ut sagittis justo tempus felis facilisis varius.
                Maecenas egestas dapibus ipsum sed laoreet. Nunc tempus, nibh tempus malesuada tristique, mauris sem convallis
                nisl, at porttitor eros lacus ac mauris. Suspendisse dignissim vulputate neque, quis gravida erat congue
                a.
            </sme-layout-item>
            <sme-layout-item caption="Layout Item 3" [columnSpan]="2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet et urna vitae porttitor. In vehicula
                viverra odio a lobortis. Vivamus semper fermentum posuere. Ut sagittis justo tempus felis facilisis varius.
                Maecenas egestas dapibus ipsum sed laoreet. Nunc tempus, nibh tempus malesuada tristique, mauris sem convallis
                nisl, at porttitor eros lacus ac mauris. Suspendisse dignissim vulputate neque, quis gravida erat congue
                a.
            </sme-layout-item>
            <sme-layout-item caption="Layout Item 4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet et urna vitae porttitor. In vehicula
                viverra odio a lobortis. Vivamus semper fermentum posuere. Ut sagittis justo tempus felis facilisis varius.
                Maecenas egestas dapibus ipsum sed laoreet. Nunc tempus, nibh tempus malesuada tristique, mauris sem convallis
                nisl, at porttitor eros lacus ac mauris. Suspendisse dignissim vulputate neque, quis gravida erat congue
                a.
            </sme-layout-item>
        </sme-layout>

        <sme-layout>
            <sme-layout-definition name="narrow" [until]="700" [columns]="1"></sme-layout-definition>
            <sme-layout-definition name="wide" [columns]="2"></sme-layout-definition>
            <sme-layout-item>
                <sme-layout>
                    <sme-layout-definition name="narrow" [until]="500" [columns]="1"></sme-layout-definition>
                    <sme-layout-definition name="wide" [columns]="2"></sme-layout-definition>
                    <sme-layout-item caption="Layout Item 5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet et urna vitae porttitor. In
                        vehicula viverra odio a lobortis. Vivamus semper fermentum posuere. Ut sagittis justo tempus felis
                        facilisis varius. Maecenas egestas dapibus ipsum sed laoreet. Nunc tempus, nibh tempus malesuada
                        tristique, mauris sem convallis nisl, at porttitor eros lacus ac mauris. Suspendisse dignissim vulputate
                        neque, quis gravida erat congue a.</sme-layout-item>
                    <sme-layout-item caption="Layout Item 6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet et urna vitae porttitor. In
                        vehicula viverra odio a lobortis. Vivamus semper fermentum posuere. Ut sagittis justo tempus felis
                        facilisis varius. Maecenas egestas dapibus ipsum sed laoreet. Nunc tempus, nibh tempus malesuada
                        tristique, mauris sem convallis nisl, at porttitor eros lacus ac mauris. Suspendisse dignissim vulputate
                        neque, quis gravida erat congue a.</sme-layout-item>
                </sme-layout>
            </sme-layout-item>
            <sme-layout-item>
                <sme-layout>
                    <sme-layout-definition name="wide" [columns]="1"></sme-layout-definition>
                    <sme-layout-item caption="Layout Item 7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet et urna vitae porttitor. In
                        vehicula viverra odio a lobortis. Vivamus semper fermentum posuere. Ut sagittis justo tempus felis
                        facilisis varius. Maecenas egestas dapibus ipsum sed laoreet. Nunc tempus, nibh tempus malesuada
                        tristique, mauris sem convallis nisl, at porttitor eros lacus ac mauris. Suspendisse dignissim vulputate
                        neque, quis gravida erat congue a.</sme-layout-item>
                </sme-layout>
            </sme-layout-item>
        </sme-layout>
    </div>
    <section class="sme-position-flex-none">
        Current used layout definition: {{getCurrentLayoutDefinitionName()}}
    </section>
</div>
