<sme-dialog #dialog>
  <sme-dialog-header>
    <h3 id="sme-dialog-title">Submit Long Running Action</h3>
  </sme-dialog-header>
  <sme-dialog-content>
    <div>Enter a target machine for the long running action.</div>
    <div> Success actions sleep for 10 seconds and then return a test PSObject.</div>
    <div class="sme-padding-bottom-md"> Failure actions sleep for 10 seconds then throw an error object. </div>
    <form id="sme-long-running-target-form" [formGroup]="form">
      <div class="form-group">
        <div class="form-input">
          <label for="sme-long-running-target">Name of target machine for long running action</label>
          <div class="required-clue">Required</div>
          <input type="text" class="form-control" id="sme-long-running-target" formControlName="name" [(ngModel)]="targetMachine" required
                 autofocus aria-required="true">
          <div class="alert alert-danger" *ngIf="form.get('name').hasError('required') && form.get('name').dirty" role="alert">
            This is a required field.
          </div>
        </div>
      </div>
    </form>
  </sme-dialog-content>
  <sme-dialog-footer class="sme-layout-float-right">
      <button type="submit" form="sme-long-running-target-form" class="sme-button-primary" (click)="onSubmit()" [disabled]="!form || !form.dirty || !form.valid">Submit</button>
      <button type="button" (click)="onExit()">Cancel</button>
  </sme-dialog-footer>
</sme-dialog>
