<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
  <h1>Spacing</h1>
  <section>
    <p>The sme spacing scale and associated classes use a base pixel size to derive common values used for defining space.</p>
    <p>
      <b>'Space'</b>
      <span>is the term we use to define the dimensions of objects and the distance inbetween them</span>
    </p>

    <p>Most if not all scenarios can be achieved using the predefined spacing guidlines. Please do not to create your own spacing
      and stick to this spacing scale. This will help the product to maintain a sense of cohesion and consistency even though
      it is developed by many different teams and organizations</p>

  </section>

  <h2>Spacing Scales</h2>
  <section>
    <h3>General Scale</h3>
    <div class="sme-arrange-wrapstack-h">
      <div *ngFor="let size of spaceScale" class="sme-arrange-stack-v sme-margin-inset-xs">
        <div class="sme-position-center-h-inline sme-font-label">{{size}}</div>
        <div [ngClass]="['sme-background-color-accent sme-height-xxxl sme-position-center-h-block', 'sme-width-'+ size]"></div>
      </div>
    </div>

    <h3>Border Scale</h3>
    <div class="sme-arrange-wrapstack-h">
      <div *ngFor="let size of borderScale" class="sme-arrange-stack-v sme-font-label">
        <div class="sme-position-center-h-inline">{{size}}</div>
        <div [ngClass]="['sme-border-color-accent sme-margin-inset-xs sme-height-xxxl sme-width-xxxl', 'sme-border-inset-'+ size]"></div>
      </div>
    </div>
  </section>

  <h2>Spacing Types</h2>
  <section>
    <p>The following examples all use the 'sm' spacing scale size.</p>
    <div class="sme-arrange-wrapstack-h">
      <div *ngFor="let type of spaceTypes" class="sme-arrange-stack-v sme-font-label">
        <div class="sme-position-center-h-inline">{{type}}</div>
        <div class="sme-layout-relative sme-background-color-accent sme-margin-inset-sm sme-border-inset-sm sme-square-xxxl">
          <div [ngClass]="['sme-layout-absolute sme-background-color-white sme-position-inset-none', 'sme-position-'+ type + '-sm']"></div>
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Spacing Type Name</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>inset</td>
          <td>Applies space to all sides of the object</td>
        </tr>
        <tr>
          <td>top</td>
          <td>Applies space to the top side of the object</td>
        </tr>
        <tr>
          <td>left</td>
          <td>Applies space to the left side of the object</td>
        </tr>
        <tr>
          <td>bottom</td>
          <td>Applies space to the bottom side of the object</td>
        </tr>
        <tr>
          <td>right</td>
          <td>Applies space to the right side of the object</td>
        </tr>
        <tr>
          <td>vertical</td>
          <td>Applies space to the top and bottom sides of the object</td>
        </tr>
        <tr>
          <td>horizontal</td>
          <td>Applies space to the left and right sides of the object</td>
        </tr>
        <tr>
          <td>squish-v</td>
          <td>Applies space to the left and right sides of the object and 50% space to the top and bottom</td>
        </tr>
        <tr>
          <td>squish-h</td>
          <td>Applies space to the top and bottom sides of the object and 50% space to the left and right</td>
        </tr>
        <tr>
          <td>spread-v</td>
          <td>Applies space to the left and right sides of the object and 150% space to the top and bottom</td>
        </tr>
        <tr>
          <td>spread-h</td>
          <td>Applies space to the top and bottom sides of the object and 150% space to the left and right</td>
        </tr>
      </tbody>
    </table>
  </section>

  <h2>Spacing Classes</h2>
  <section>
    <h3>Class Prefixes</h3>
      <p>All Classes are prefixed with 'sme-'. Spatial classes are additionally prefixed based on the properties that they effect</p>
      <table>
        <thead>
          <tr>
            <th>Spacing Class Prefix</th>
            <th>Effect</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>position</td>
            <td>Modifies the top, left, bottom, and right properties</td>
          </tr>
          <tr>
            <td>margin</td>
            <td>Modifies the margin property</td>
          </tr>
          <tr>
            <td>padding</td>
            <td>Modifies the padding property</td>
          </tr>
          <tr>
            <td>border</td>
            <td>Modifies the border-width property</td>
          </tr>
          <tr>
            <td>height</td>
            <td>Modifies the height property</td>
          </tr>
          <tr>
            <td>width</td>
            <td>Modifies the width property</td>
          </tr>
          <tr>
            <td>square</td>
            <td>Modifies the height, and width properties equally</td>
          </tr>
          <tr>
            <td>line-height</td>
            <td>Modifies the line-height property</td>
          </tr>
        </tbody>
      </table>

      <h3>Class Format</h3>
      <p>The final spacing clases take the following format</p>
      <code>.sme-[spacing prefix]-[spacing type]-[spacing size]</code>
      <p>Here are some examples of valid classes:</p>
      <code>.sme-margin-inset-sm</code>
      <code>.sme-border-left-lg</code>
      <code>.sme-position-squish-v-xxl</code>
  </section>
</div>