<div class="sme-layout-absolute sme-position-vertical-none sme-position-horizontal-md sme-documentation">
  <h2>Layerd Status Icons</h2>
  <ng-container *ngFor="let status of statuses">
    <p class="sme-margin-top-xs">sme-status-icon status="{{status}}"</p>
    <div>
      <sme-status-icon *ngFor="let size of iconSizes" [status]="status" [size]="size"></sme-status-icon>
    </div>
  </ng-container>
  <h2>Custom Layered Icons</h2>
  <div>
    <sme-layered-icon size="64px">
      <sme-icon-layer size="48px" class="sme-icon sme-icon-contact"></sme-icon-layer>
      <sme-icon-layer size="32px" top="50%" left="40%" class="sme-icon sme-color-neutral sme-icon-statusCircleOuter"></sme-icon-layer>
      <sme-icon-layer size="32px" top="50%" left="40%" class="sme-icon sme-color-alt sme-icon-statusCircleQuestionMark"></sme-icon-layer>
    </sme-layered-icon>
    <sme-layered-icon size="64px">
      <sme-icon-layer class="sme-icon sme-icon-localAdmin"></sme-icon-layer>
      <sme-icon-layer size="32px" top="24px" left="33px" class="sme-icon sme-color-critical sme-icon-statusTriangleExclamation"></sme-icon-layer>
    </sme-layered-icon>
  </div>
</div>
