<div class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v sme-position-vertical-none sme-position-horizontal-md">
  <h1 class="sme-position-flex-none">Form Elements</h1>
  <sme-pivot class="sme-position-flex-auto">
    <sme-pivot-tab label="Template Driven" route="/tools/controls/forms/templateDriven"></sme-pivot-tab>
    <sme-pivot-tab label="Reactive" route="/tools/controls/forms/reactive"></sme-pivot-tab>
    <sme-pivot-tab label="Form Field API" route="/tools/controls/forms/fieldsApi"></sme-pivot-tab>
    <sme-pivot-tab label="Search" route="/tools/controls/forms/search"></sme-pivot-tab>
    <sme-pivot-tab label="Date and Time" route="/tools/controls/forms/datetime"></sme-pivot-tab>
    <sme-pivot-tab label="Code Editor" route="/tools/controls/forms/codeEditor"></sme-pivot-tab>
    <sme-pivot-tab label="Validation" route="/tools/controls/forms/validation"></sme-pivot-tab>
  </sme-pivot>
</div>
