<div class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
  <h1 class="sme-position-flex-none">Form Elements</h1>
  <sme-pivot class="sme-position-flex-auto">
    <sme-pivot-tab label="Template Driven" route="/dev/controls/forms/templateDriven"></sme-pivot-tab>
    <sme-pivot-tab label="Reactive" route="/dev/controls/forms/reactive"></sme-pivot-tab>
    <sme-pivot-tab label="Form Field API" route="/dev/controls/forms/fieldsApi"></sme-pivot-tab>
    <sme-pivot-tab label="Search" route="/dev/controls/forms/search"></sme-pivot-tab>
    <sme-pivot-tab label="Validation" route="/dev/controls/forms/validation"></sme-pivot-tab>
  </sme-pivot>
</div>
