<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
  <h1>Behaviors</h1>
  <section>
    <p>Behaviors are special sets of classes that require more than one element. Each behavior consists of at least one
      trigger and at least one target.</p>
    <p>Behaviors enable functionality that would otherwise require complex css or custom javascript. Behaviors are also
      contextually aware and may change according to the type of screen being used. For example, a hover trigger will
      have different effects
      on a touchscreen vs a regular monitor.
    </p>

  </section>

  <h2>Behavior Classes</h2>
  <section>
    <p>The trigger class of a behavior must be applied to a parent element of a trigger and the target class must be
      applied to a child element to apply the behavior</p>
    <table>
      <thead>
        <tr>
          <th>Trigger Class</th>
          <th>Target Class</th>
          <th>Effect</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>.sme-behavior-hover-trigger</td>
          <td>
            <div>.sme-behavior-hover-target-show</div>
            <div>.sme-behavior-hover-target-hide</div>
          </td>
          <td>
            <div>Shows the target only when the trigger element is hovered (or focused)</div>
            <div>Hides the target only when the trigger element is hovered (or focused)</div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <h2>User Select Classes</h2>
  <p class="sme-padding-bottom-md"> Try to select the text below to see how each class behaves</p>
  <section>
    <p class="sme-user-select-all">sme-user-select-all - select everything</p>
    <p class="sme-user-select-auto">sme-user-select-auto - let the browser decide</p>
    <p class="sme-user-select-contain">sme-user-select-contain - selection contained within element bounds</p>
    <p class="sme-user-select-none">sme-user-select-none - don't allow any selection</p>
    <p class="sme-user-select-text">sme-user-select-text - select only text</p>
  </section>


  <h2>Cursor Classes</h2>
  <p class="sme-padding-bottom-md"> Put your cursor over each class to see the different cursor options</p>
  <section>
    <p class="sme-cursor-alias">sme-cursor-alias</p>
    <p class="sme-cursor-all-scroll">sme-cursor-all-scroll</p>
    <p class="sme-cursor-auto">sme-cursor-auto</p>
    <p class="sme-cursor-cell">sme-cursor-cell</p>
    <p class="sme-cursor-context-menu">sme-cursor-context-menu</p>
    <p class="sme-cursor-col-resize">sme-cursor-col-resize</p>
    <p class="sme-cursor-copy">sme-cursor-copy</p>
    <p class="sme-cursor-crosshair">sme-cursor-crosshair</p>
    <p class="sme-cursor-default">sme-cursor-default</p>
    <p class="sme-cursor-e-resize">sme-cursor-e-resize</p>
    <p class="sme-cursor-ew-resize">sme-cursor-ew-resize</p>
    <p class="sme-cursor-grab">sme-cursor-grab</p>
    <p class="sme-cursor-grabbing">sme-cursor-grabbing</p>
    <p class="sme-cursor-help">sme-cursor-help</p>
    <p class="sme-cursor-move">sme-cursor-move</p>
    <p class="sme-cursor-n-resize">sme-cursor-n-resize</p>
    <p class="sme-cursor-ne-resize">sme-cursor-ne-resize</p>
    <p class="sme-cursor-nesw-resize">sme-cursor-nesw-resize</p>
    <p class="sme-cursor-ns-resize">sme-cursor-ns-resize</p>
    <p class="sme-cursor-nw-resize">sme-cursor-nw-resize</p>
    <p class="sme-cursor-nwse-resize">sme-cursor-nwse-resize</p>
    <p class="sme-cursor-no-drop">sme-cursor-no-drop</p>
    <p class="sme-cursor-none">sme-cursor-none</p>
    <p class="sme-cursor-not-allowed">sme-cursor-not-allowed</p>
    <p class="sme-cursor-pointer">sme-cursor-pointer</p>
    <p class="sme-cursor-progress">sme-cursor-progress</p>
    <p class="sme-cursor-row-resize">sme-cursor-row-resize</p>
    <p class="sme-cursor-s-resize">sme-cursor-s-resize</p>
    <p class="sme-cursor-se-resize">sme-cursor-se-resize</p>
    <p class="sme-cursor-sw-resize">sme-cursor-sw-resize</p>
    <p class="sme-cursor-text">sme-cursor-text</p>
    <p class="sme-cursor-url">sme-cursor-url</p>
    <p class="sme-cursor-w-resize">sme-cursor-w-resize</p>
    <p class="sme-cursor-wait">sme-cursor-wait</p>
    <p class="sme-cursor-zoom-in">sme-cursor-zoom-in</p>
    <p class="sme-cursor-zoom-out">sme-cursor-zoom-out</p>
  </section>
</div>
