<form class="sme-layout-absolute sme-position-inset-none">
  <sme-common-settings settingsTitle="Common Settings" [settings]="settingItems" [backRoute]="backRoute">
    <sme-settings-footer>
      <button type="submit" class="sme-button-primary" (click)="onSaveClick()" [disabled]="!combinedForm || (!combinedForm.dirty || !combinedForm.valid) || saving">
        {{saveButtonLabel }}
      </button>
      <button type="button" (click)="onDiscardClick()" [disabled]="!combinedForm || !combinedForm.dirty || saving">
        {{discardButtonLabel }}
      </button>
      <button type="button" (click)="onCloseClick()">{{ closeButtonLabel }}</button>
    </sme-settings-footer>
  </sme-common-settings>
</form>
