<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
    <h1>Schemes</h1>
    <p>
        To prevent the propigation of color settings throughout the product, schemes have been provided that satisfy common patterns. Schemes save the developer from having to manage changes by abstracting color characteristics away from the component level.
        They apply complex theme based operations with a single class on your element
    </p>

    <p>Not every UI pattern is included in a scheme. Most schemes are the result of a pattern needing to be applyied to multiple element structures. This is why there is no 'button' scheme. If you need that, you should use a button or .sme-button class.</p>

    <h2>Scheme Classes</h2>

    <table>
        <thead>
            <tr>
                <th>Class</th>
                <th>Use Case</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>.sme-scheme-base</td>
                <td>Applies the primary theming to the current element</td>
                <td class="sme-scheme-base">The base scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-alt</td>
                <td>Applies the alternate theming to the current element</td>
                <td class="sme-scheme-alt">The alternate scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-dropdown</td>
                <td>Applies the dropdown content colors</td>
                <td class="sme-scheme-dropdown">The dropdown scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-dialog</td>
                <td>Applies the dialog content colors</td>
                <td class="sme-scheme-dialog">The dialog scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-nav-item</td>
                <td>Applies the navigation item colors</td>
                <td class="sme-scheme-nav-item">The navigation item scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-nav-list-item</td>
                <td>Applies the navigation list item colors</td>
                <td class="sme-scheme-nav-list-item">The navigation list item scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-nav-menu-item</td>
                <td>Applies the navigation menu item colors</td>
                <td class="sme-scheme-nav-menu-item">The navigation menu item scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-list-item</td>
                <td>Applies the list item colors</td>
                <td class="sme-scheme-list-item">The list item scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-sideloaded</td>
                <td>Applies the sideloaded item colors. This should be used to indicate dev time only features.</td>
                <td class="sme-scheme-sideloaded">The sideloaded scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-backdrop-opaque</td>
                <td>Applies the opaque backdrop colors</td>
                <td class="sme-scheme-backdrop-opaque">The opaque backdrop scheme is applied</td>
            </tr>
            <tr>
                <td>.sme-scheme-banner</td>
                <td>Applies the banner colors</td>
                <td class="sme-scheme-banner">The banner scheme is applied</td>
            </tr>
        </tbody>
    </table>

    <h2>Item Schemes</h2>

    <p>Item schemes are used to add list selection behavior to items presented to the user. These schemes are used in grids, menus, lists and more.</p>

    <p>You can use the following class to indicate a 'selected' state on elements that have an item scheme applied.</p>

    <code>.sme-active</code>

    <h3>Example</h3>

    <div class="sme-margin-bottom-md">
        <div class="sme-padding-squish-v-sm sme-scheme-nav-item" [class.sme-active]="selectedItem===1" (click)="selectedItem=1">.sme-scheme-nav-item</div>
        <div class="sme-padding-squish-v-sm sme-scheme-nav-list-item" [class.sme-active]="selectedItem===2" (click)="selectedItem=2">.sme-scheme-nav-list-item</div>
        <div class="sme-padding-squish-v-sm sme-scheme-nav-menu-item" [class.sme-active]="selectedItem===3" (click)="selectedItem=3">.sme-scheme-nav-menu-item</div>
        <div class="sme-padding-squish-v-sm sme-scheme-list-item" [class.sme-active]="selectedItem===4" (click)="selectedItem=4">.sme-scheme-list-item</div>
    </div>

    <code>&lt;div class="sme-padding-squish-v-sm sme-scheme-nav-item" [class.sme-active]="selectedItem===1" (click)="selectedItem=1"&gt;.sme-scheme-nav-item&lt;/div&gt;
&lt;div class="sme-padding-squish-v-sm sme-scheme-nav-list-item" [class.sme-active]="selectedItem===2" (click)="selectedItem=2"&gt;.sme-scheme-nav-list-item&lt;/div&gt;
&lt;div class="sme-padding-squish-v-sm sme-scheme-nav-menu-item" [class.sme-active]="selectedItem===3" (click)="selectedItem=3"&gt;.sme-scheme-nav-menu-item&lt;/div&gt;
&lt;div class="sme-padding-squish-v-sm sme-scheme-list-item" [class.sme-active]="selectedItem===4" (click)="selectedItem=4"&gt;.sme-scheme-list-item&lt;/div&gt;</code>

</div>