<div class="sme-layout-absolute sme-position-vertical-none sme-position-horizontal-md">
  <h2>Breadcrumb as Header:</h2>
  <header class="sme-layout-tool-header">
    <h3>
      <sme-breadcrumb #breadcrumb1 [separator]="breadcrumb1.separators.backSlash" [breadcrumbs]="breadcrumbs"></sme-breadcrumb>
    </h3>
  </header>
  <header class="sme-layout-tool-header">
    <h3>
      <sme-breadcrumb #breadcrumb2 [separator]="breadcrumb2.separators.chevronRight" [breadcrumbs]="breadcrumbs"></sme-breadcrumb>
    </h3>
  </header>
  <header class="sme-layout-tool-header">
    <h3>
      <sme-breadcrumb #breadcrumb3 [separator]="breadcrumb3.separators.slash" [breadcrumbs]="breadcrumbs"></sme-breadcrumb>
    </h3>
  </header>

  <h2 class="sme-margin-top-xl">Breadcrumb as label:</h2>
  <div class="sme-margin-squish-v-xl" *ngFor="let separator of separators">
    <label>
      <sme-breadcrumb [separator]="separator" [breadcrumbs]="breadcrumbs"></sme-breadcrumb>
    </label>
  </div>

  <h2 class="sme-margin-top-xl">Breadcrumb as body:</h2>
  <div class="sme-margin-squish-v-xl" *ngFor="let separator of separators">
    <sme-breadcrumb [separator]="separator" [breadcrumbs]="breadcrumbs"></sme-breadcrumb>
  </div>
</div>
