<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
  <h2>Date and Time Editors</h2>
  <form>
    <sme-form-field type="calendar" name="calendar" [(ngModel)]="datetime" [required]="true" label="sme-form-field[type='calendar']">
    </sme-form-field>
    <sme-form-field type="date" name="date" [(ngModel)]="datetime" label="sme-form-field[type='date']" [required]="true"></sme-form-field>
    <sme-form-field type="clock" name="clock" [(ngModel)]="datetime" label="sme-form-field[type='clock']" [required]="true">
    </sme-form-field>
    <sme-form-field type="time" name="time" [(ngModel)]="datetime" label="sme-form-field[type='time']" [required]="true"></sme-form-field>
    <sme-form-field type="datetime" name="datetime" [(ngModel)]="datetime" label="sme-form-field[type='datetime']" [required]="true">
    </sme-form-field>
    <sme-form-field type="datetimerange" name="datetimerange" [(ngModel)]="datetimerange" label="sme-form-field[type='datetimerange']"
                    [required]="true"></sme-form-field>
  </form>

  <h3>Model Values</h3>
  <div>{{dateTimeLocal}}</div>
  <div>{{datetime.toISOString()}}</div>
  <div style="height: 500px"></div>
</div>
