<sme-tool-header>Gateway Extension Example</sme-tool-header>
<div class="overflow-margins table-indent">
  A Gateway Extension is a special extension that gets compiled as a DLL and managed on the primary Honolulu application that is either installed locally
  or on the remote Gateway server.  For more information on building, compiling, and deploying these kinds of extensions,
  please read the 'gateway-extensions.md' document in the docs folder included in this extension.
</div>
<div class="overflow-margins table-indent">
  <sme-action-bar class="fixed-flex-size tool-bar first-row">
      <sme-action-button #action [text]="'Call REST service'" [iconClass]="'sme-icon icon-win-upload'" (execute)="callRestService()"></sme-action-button>
  </sme-action-bar>
  <br />
  <br />
  The service side code for calling the Gateway extension looks like this:
  <pre>
    <code>
public getGatewayRestResponse(): Observable&lt;string&gt; {{ '{' }}
    return this.http.get('http://localhost:6516/api/nodes/matwils-2016.redmond.corp.microsoft.com/features/RedmondWeather')
    .map((response) => response.response.query.results);
{{ '}' }}
    </code>
  </pre>
  <br />
  While the calling code follows this structure:
  <pre>
    <code>
private callRestService() {{ '{' }}
  this.restSubscription = this.helloService.getGatewayRestResponse().subscribe(
      (response: string) => {{ '{' }}
          this.restResponse = response.channel.item.title;
          this.restResponse += ' : ' + response.channel.item.condition.text;
          this.restResponse += ' ' + response.channel.item.condition.temp + ' degrees';
          this.sendNotification(this.restResponse);
      {{ '}' }}
  );
{{ '}' }}
    </code>
  </pre>
</div>