<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
    <section>
        <p>
            Form Fields are the basis of form controls in Project Honolulu. They follow the format:
            <code>&lt;sme-form-field type="[typeName]"&gt;&lt;/sme-form-field&gt;</code> where [typeName] is a valid field type.
        </p>
    </section>

    <h2>Common</h2>
    <section>
        <h3>Properties</h3>
        <section>
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px">Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>disabled</td>
                        <td>boolean</td>
                        <td>Marks the form field as disabled</td>
                    </tr>
                    <tr>
                        <td>required*</td>
                        <td>boolean</td>
                        <td>Marks the form field as required and enables required validation checks</td>
                    </tr>
                    <tr>
                        <td>autofocus</td>
                        <td>boolean</td>
                        <td>enables autofocus on the form field</td>
                    </tr>
                    <tr>
                        <td>placeholder*</td>
                        <td>string</td>
                        <td>If applicable, identifies the placeholder text to show in the control</td>
                    </tr>
                    <tr>
                        <td>label</td>
                        <td>string</td>
                        <td>The label of the field. This is also used for aria-label properties</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td>string</td>
                        <td>The description of the field. This is also used for aria-description properties where available</td>
                    </tr>
                    <tr>
                        <td>immediateValidation</td>
                        <td>boolean</td>
                        <td>Causes validation to occur immediatly when the control loads.</td>
                    </tr>
                    <tr>
                        <td>customValidate*</td>
                        <td>EventEmitter&lt;CheckValidationEventArgs&gt;</td>
                        <td>Output for custom validation on this field. Only applies to template driven forms.</td>
                    </tr>
                </tbody>
            </table>
            <p>* = Not available on all controls.</p>
        </section>
    </section>

    <h2>Type: "checkbox"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>boolean</code></p>
        </section>
        <h3>Properties</h3>
        <section>
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px">Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>indeterminate</td>
                        <td>boolean</td>
                        <td>Marks the checkbox as indeterminate. Any change to the value will reset this field.</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

    <h2>Type: "checklist"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>MsftSme.StringMap&lt;boolean&gt;</code> where the keys are the value properties from each <code>&lt;sme-option&gt;&lt;/sme-option&gt;</code></p>
        </section>
        <h3>Content</h3>
        <section>
            <p>The following content types are support inside this form field</p>
            <ul>
                <li>
                    <code>&lt;sme-option&gt;&lt;/sme-option&gt;</code> with optional inner <code>&lt;ng-template&gt;&lt;/ng-template&gt;</code> containing additional form elements
                </li>
            </ul>
        </section>
    </section>

    <h2>Type: "file"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>File</code> if <code>[multiple=false]</code> else <code>FileList</code></p>
        </section>
        <h3>Properties</h3>
        <section>
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px">Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>multiple</td>
                        <td>boolean</td>
                        <td>Indicates that multiple files are allowed</td>
                    </tr>
                    <tr>
                        <td>fileTypes</td>
                        <td>string[]</td>
                        <td>Indicates the type of files that are allowed</td>
                    </tr>
                    <tr>
                        <td>buttonLabel</td>
                        <td>string</td>
                        <td>The label to use on the select button</td>
                    </tr>
                    <tr>
                        <td>multipleFileFormat</td>
                        <td>string</td>
                        <td>The format to use when multiple files are selected</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

    <h2>Type: "number"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>number</code></p>
        </section>
        <h3>Properties</h3>
        <section>
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px">Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>step</td>
                        <td>number</td>
                        <td>The size of each movement of the slider</td>
                    </tr>
                    <tr>
                        <td>min</td>
                        <td>number</td>
                        <td>The minimum value of the slider</td>
                    </tr>
                    <tr>
                        <td>max</td>
                        <td>number</td>
                        <td>The maximum value of the slider</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

    <h2>Type: "password"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>string</code></p>
        </section>
    </section>

    <h2>Type: "radio-group"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>any</code> where the value is from the currently selected <code>&lt;sme-option&gt;&lt;/sme-option&gt;</code></p>
        </section>
        <h3>Content</h3>
        <section>
            <p>The following content types are support inside this form field</p>
            <ul>
                <li>
                    <code>&lt;sme-option&gt;&lt;/sme-option&gt;</code> with optional inner <code>&lt;ng-template&gt;&lt;/ng-template&gt;</code> containing additional form elements
                </li>
            </ul>
        </section>
    </section>

    <h2>Type: "readonly"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>string</code></p>
        </section>
    </section>

    <h2>Type: "search"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>string</code></p>
        </section>
    </section>

    <h2>Type: "select"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>any</code> where the value is from the currently selected <code>&lt;sme-option&gt;&lt;/sme-option&gt;</code></p>
        </section>
        <h3>Content</h3>
        <section>
            <p>The following content types are support inside this form field</p>
            <ul>
                <li>
                    <code>&lt;sme-option&gt;&lt;/sme-option&gt;</code>
                </li>
            </ul>
        </section>
    </section>

    <h2>Type: "slider"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>number</code></p>
        </section>
        <h3>Properties</h3>
        <section>
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px">Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>step</td>
                        <td>number</td>
                        <td>The size of each movement of the slider</td>
                    </tr>
                    <tr>
                        <td>min</td>
                        <td>number</td>
                        <td>The minimum value of the slider</td>
                    </tr>
                    <tr>
                        <td>max</td>
                        <td>number</td>
                        <td>The maximum value of the slider</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

    <h2>Type: "tags"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>string[]</code></p>
        </section>
        <h3>Properties</h3>
        <section>
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px">Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>tagSplitCharacter</td>
                        <td>string</td>
                        <td>Indicates the character to use to split tags on.</td>
                    </tr>
                    <tr>
                        <td>suggestions</td>
                        <td>string[]</td>
                        <td>Suggestions for possible tags that the user could enter</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

    <h2>Type: "text"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>string</code></p>
        </section>
        <h3>Properties</h3>
        <section>
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px">Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>multiline</td>
                        <td>boolean</td>
                        <td>Indicates that multiple lines should be accepted</td>
                    </tr>
                    <tr>
                        <td>rows*</td>
                        <td>number</td>
                        <td>Indicates the number of visible rows for multiline text fields</td>
                    </tr>
                    <tr>
                        <td>columns*</td>
                        <td>number</td>
                        <td>Indicates the number of visible columns for multiline text fields</td>
                    </tr>
                </tbody>
            </table>
            <p>* = Only available when <code>multiline="true"</code></p>
        </section>
    </section>

    <h2>Type: "toggle-switch"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>boolean</code></p>
        </section>
        <h3>Properties</h3>
        <section>
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px">Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>labelOn</td>
                        <td>string</td>
                        <td>The label to show when the switch is on</td>
                    </tr>
                    <tr>
                        <td>labelOff</td>
                        <td>string</td>
                        <td>The label to show when the switch is off</td>
                    </tr>
                </tbody>
            </table>
            <p>* = Only available when <code>multiline="true"</code></p>
        </section>
    </section>

    <!-- <h2>Type: "array"</h2>
    <section>
        <h3>Value Type</h3>
        <section>
            <p><code>any[]</code></p>
        </section>
        <h3>Properties</h3>
        <section>
            <table>
                <thead>
                    <tr>
                        <th style="width: 200px">Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>canAdd</td>
                        <td>boolean</td>
                        <td>Indicates that the user should be allowed to add elements to this array. Defaults to true</td>
                    </tr>
                    <tr>
                        <td>canRemove</td>
                        <td>boolean</td>
                        <td>Indicates that the user should be allowed to remove elements from this array. Defaults to true</td>
                    </tr>
                    <tr>
                        <td>addLabel</td>
                        <td>string</td>
                        <td>The label to show on the button to add elements to this array (overrides default)</td>
                    </tr>
                    <tr>
                        <td>removeLabel</td>
                        <td>string</td>
                        <td>The label to show on the button to remove elements from this array (overrides default)</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
    <h3>Content</h3>
    <section>
        <p>The following content types are support inside this form field</p>
        <ul>
            <li>
                <code>&lt;ng-template&gt;&lt;/ng-template&gt;</code> containing the subform elements for each item in the array
            </li>
        </ul>
    </section> -->
</div>