<div class="sme-layout-absolute sme-position-vertical-none sme-position-horizontal-md sme-documentation">
  <!-- active-directory-search form field has contained master-view and data-table controls. Due to a bug/issue of
    data-table won't display if master-view or parent using sme-layout-relative. So here form has to use sme-layout-absolute -->
  <form *ngIf="!isFinished" class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
    <sme-form-field type="combobox" class="sme-layout-relative sme-padding-top-sm" name="searchType" [(ngModel)]="searchType"
                    [label]="searchTypelabel">
      <sme-option *ngFor="let option of searchTypes" [value]="option.value" [label]="option.label"></sme-option>
    </sme-form-field>
    <sme-form-field type="radiogroup" name="selectionMode" [(ngModel)]="multiple" [label]="selectionModeLabel">
      <sme-option *ngFor="let option of selectionModes" [value]="option.value" [label]="option.label"></sme-option>
    </sme-form-field>

    <div class="sme-position-flex-auto sme-layout-relative">
      <sme-form-field *ngIf="multiple" type="adSearch" name="selectedAccounts"  [searchOn]="searchType" [(ngModel)]="selectedAccounts">
      </sme-form-field>
      <sme-form-field *ngIf="!multiple" type="adSearch" name="selectedAccount"  [multiple]="false" [searchOn]="searchType" [(ngModel)]="selectedAccount">
      </sme-form-field>
    </div>
    <div class="sme-position-flex-none sme-padding-vertical-sm sme-focus-zone">
      <div class="sme-position-left-inline">
        <button type="submit" (click)="getSelections()" [disabled]="!isSelected">Done</button>
        <button type="button" (click)="onCancel()">Close</button>
      </div>
    </div>
  </form>
  <div *ngIf="isFinished">
    <div *ngIf="displaySelections">
      <p>Selected account(s) list:</p>
      <div *ngFor="let name of selectedNames">
        <span>{{name}}</span>
      </div>
    </div>
    <div class="sme-position-flex-none sme-padding-vertical-sm sme-focus-zone">
      <div class="sme-position-left-inline">
        <button type="button" (click)="onReset()">Return</button>
      </div>
    </div>

  </div>

</div>
