.list {
    margin: 5px 10px 5px 5px;
    width: 50px;
}
.list div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.list.expanded{
    width:auto;
}

.title .text{
    vertical-align: middle;
    line-height: 50px;
}