<div class="sme-layout-content-zone-padded">
    <div class="sme-checkbox">
        <label>
            <input type="checkbox" [checked]="checked" (change)="checked = !checked" />
          <span>boolean-converter input</span>
        </label>
    </div>
    <div>
        <span>Default Output:</span>
        <span style="font-weight: bold">{{ checked | smeBooleanConverter : null }}</span>
    </div>
    <div>
        <span>Mapped Pipe Output:</span>
        <span style="font-weight: bold">{{ checked | smeBooleanConverter : checkedMap }}</span>
    </div>
</div>