<sme-confirmation-dialog id="confirmation-dialog-credentials"></sme-confirmation-dialog>
<sme-dialog #dialog dialogMode="pane">
  <sme-dialog-header>
    <h3 id="sme-dialog-title">{{ title }}</h3>
  </sme-dialog-header>
  <sme-dialog-content>
    <p id="sme-dialog-desc">{{ label }}</p>
    <div>
      User name: <input type="text" [(ngModel)]="username" />
      Password: <input type="password" [(ngModel)]="password" />
    </div>
  </sme-dialog-content>
  <sme-dialog-footer class="sme-layout-float-right">
      <button type="button" class="sme-button-primary" (click)="onClose()">{{ closeButtonText }}</button>
      <button type="button" (click)="onCancel()">{{ cancelButtonText }}</button>
  </sme-dialog-footer>
</sme-dialog>