<div class="sme-layout-absolute sme-position-inset-none sme-documentation">

    <p>The toggle switch is semantically a checkbox, but mimics a tactile switch that can be turned on or off.</p>
    <p>To make a checkbox appear as a toggle switch, use the <code>'.sme-toggle-switch'</code> class instead of <a class="sme-link" routerLink="/tools/styles/forms/checkbox">'.sme-checkbox'</a>.</p>
    <p>The intermediate state is invalid for toggle switches. They should always be on or off.</p>

    <h3>Unselected</h3>
    <section>
        <div class="sme-toggle-switch  sme-documentation-example">
            <label>
                <input aria-label="Control label" type="checkbox" aria-checked="false">
                <span aria-hidden="true">Control label</span>
            </label>
        </div>
        <code>
            &lt;div class="sme-toggle-switch"&gt;
                &lt;label&gt;
                    &lt;input aria-label="Control label" type="checkbox" aria-checked="false"&gt;
                    &lt;span aria-hidden="true"&gt;Control label&lt;/span&gt;
                &lt;/label&gt;
            &lt;/div&gt;
        </code>
    </section>
    <h3>Selected</h3>
    <section>
        <div class="sme-toggle-switch  sme-documentation-example">
            <label>
                <input aria-label="Control label" type="checkbox" checked="checked" aria-checked="true">
                <span aria-hidden="true">Control label</span>
            </label>
        </div>
        <code>
            &lt;div class="sme-toggle-switch"&gt;
                &lt;label&gt;
                    &lt;input aria-label="Control label" type="checkbox" checked="checked" aria-checked="true"&gt;
                    &lt;span aria-hidden="true"&gt;Control label&lt;/span&gt;
            &lt;/label&gt;
            &lt;/div&gt;
        </code>
    </section>
    <h3>Disabled</h3>
    <section>
        <div class="sme-toggle-switch  sme-documentation-example">
            <label>
                <input aria-label="Control label" type="checkbox" disabled="disabled" aria-checked="false">
                <span aria-hidden="true">Control label</span>
            </label>
        </div>
        <code>
            &lt;div class="sme-toggle-switch"&gt;
                &lt;label&gt;
                    &lt;input aria-label="Control label" type="checkbox" disabled="disabled" aria-checked="false"&gt;
                    &lt;span aria-hidden="true"&gt;Control label&lt;/span&gt;
                    &lt;/label&gt;
            &lt;/div&gt;
        </code>
    </section>
    <h3>Disabled and Selected</h3>
    <section>
        <div class="sme-toggle-switch">
            <label>
                <input aria-label="Control label" type="checkbox" checked="checked" disabled="disabled" aria-checked="true">
                <span aria-hidden="true">Control label</span>
            </label>
        </div>
        <code>
            &lt;div class="sme-toggle-switch  sme-documentation-example"&gt;
                &lt;label&gt;
                    &lt;input aria-label="Control label" type="checkbox" checked="checked" disabled="disabled" aria-checked="true"&gt;
                    &lt;span aria-hidden="true"&gt;Control label&lt;/span&gt;
                    &lt;/label&gt;
            &lt;/div&gt;
        </code>
    </section>
</div>