/* The following style is only for the example page to hardcode a height for the data table. */
/* In the actual UI code we don't do this to the data table. */
:host >>> .data-table-container{
    position: relative;
    height:300px
}

:host >>> .table-chart{
    padding: 10px 0;
    display: block;
}

:host >>> .group-header-text{
    display: inline-block;
}