<div class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
    <h2 class="sme-position-flex-none">Data Table Component</h2>
    <sme-pivot [selection]="ex1Tab1" class="sme-position-flex-auto">
        <sme-pivot-tab #ex1Tab1 label="Simple Scenario">
            <ng-template>
                <section class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
                    <h3 class="sme-position-flex-none">Simple Scenarios</h3>
                    <div class="sme-position-flex-none">
                        <button (click)="useSample1()">Use Sample 1 Data</button>
                        <button (click)="useSample2()">Use Sample 2 Data</button>
                        <button (click)="scrollSelectedDataIntoView()">Scroll selected data into view</button>
                        <button (click)="refreshDataSource()">Refresh Data Source</button>
                    </div>
                    <div class="sme-layout-relative sme-position-flex-auto">
                        <sme-data-table #simpleDataTable [items]="dataSource" [(selection)]="selectedData1" class="sme-layout-absolute sme-position-inset-none" [defaultSortColumn]="customSortColumn" [defaultSortMode]="1" [rememberSelection]="true" [getItemIdentityFunction]="getItemIdentityFunction">
                            <sme-data-table-column field="field1" header="String Field 1" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="field2" header="Number Field 2" sortable="true">
                                <ng-template let-data>
                                    <span class="sme-padding-right-xxs sme-icon sme-icon-cluster"></span>
                                    <strong>{{data.field2}}</strong>
                                    <a href="http://www.google.com" target="_blank">Link</a>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="field3" header="String Field 3" sortable="true" width="20%">
                                <ng-template let-data>
                                    <span class="sme-padding-right-xxs sme-icon sme-icon-cluster"></span>
                                    <strong>{{data.field3}}</strong>
                                    <button onclick="alert('Hello~~~')">I'm a button. I need focus.</button>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column #customSortColumn field="field4" header="number Field 4" sortable="true">
                                <ng-template let-data>
                                    <span class="sme-padding-right-xxs sme-icon sme-icon-cluster"></span>
                                    <strong>{{data.field4}}</strong>
                                    <input sme-lint-disable-self style="width:60px" />
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="field5" header="String Field 5 (Custom Sort: put all items with '2' at one side" sortable="custom" [compareFunction]="customSortCompare"></sme-data-table-column>
                            <sme-data-table-column field="description" header="Long Text Column" sortable="true" width="30%">
                                <ng-template let-data>
                                    <div class="sme-select">
                                        <select value="1">
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                          <option value="4">Option 4</option>
                                        </select>
                                    </div>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="objectField.text" header="Object Field Text" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="objectField.number" header="Object Field Number" sortable="true"></sme-data-table-column>
                        </sme-data-table>
                    </div>
                    <div class="sme-position-flex-none sme-focus-zone">
                        <span>Selected Item: </span>
                        <span class='selected-items-1'>{{selectedData1 && selectedData1.field1}}</span>
                        <span>, Selected Index: {{simpleDataTable.getActiveRenderedItemIndex()}}</span>
                        <button onclick="alert('Hello~~~')">I'm a button. I need focus.</button>
                    </div>
                </section>

            </ng-template>
        </sme-pivot-tab>
        <sme-pivot-tab label="Multiple Selection">
            <ng-template>
                <section class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
                    <h3 class="sme-position-flex-none">Multiple Selection</h3>
                    <div class="sme-position-flex-none">
                        <button (click)="refreshDataSource()">Refresh Data Source</button>
                    </div>
                    <div class="sme-layout-relative sme-position-flex-auto">
                        <sme-data-table [items]="dataSource" [(selection)]="selectedData2" selectionMode="multiple" class="sme-layout-absolute sme-position-inset-none" [rememberSelection]="true" [showLeftMargin]="false" [getItemIdentityFunction]="getItemIdentityFunction">
                            <sme-data-table-column field="field1" header="String Field 1" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="field2" header="Number Field 2" sortable="true">
                                <ng-template let-index="index" let-data>
                                    <span [ngClass]="{'sme-icon-cluster':index%2==0}" class="sme-padding-right-xxs sme-icon"></span>
                                    <strong>{{data.field2}}</strong>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="field3" header="String Field 3" sortable="true">
                                <ng-template let-data>
                                    <span class="sme-padding-right-xxs sme-icon sme-icon-cluster"></span>
                                    <strong>{{data.field3}}</strong>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="field4" header="Number Field 4" sortable="true">
                                <ng-template let-data>
                                    <sme-capacity-bar-chart class="table-chart" [height]="10" [totalCapacity]="100" [capacityUsed]="data.field4"></sme-capacity-bar-chart>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="field5" header="String Field 5" sortable="custom" [compareFunction]="customSortCompare"></sme-data-table-column>
                            <sme-data-table-column field="description" header="Long Text Column" sortable="true"></sme-data-table-column>
                        </sme-data-table>
                    </div>
                    <div class="sme-position-flex-none">
                        <span>Selected Items: </span>
                        <span class='selected-items-2' *ngIf="selectedData2 && selectedData2.length<10">
                          <span *ngFor="let item of selectedData2">{{item.field1}} </span>
                        </span>
                        <span class='selected-items-2' *ngIf="selectedData2 && selectedData2.length>=10">
                          {{selectedData2.length}} items
                      </span>
                    </div>
                </section>
            </ng-template>
        </sme-pivot-tab>
        <sme-pivot-tab label="Lazy Loading">
            <ng-template>
                <section class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
                    <h3 class="sme-position-flex-none">Lazy Loading</h3>
                    <div class="sme-layout-relative sme-position-flex-auto">
                        <sme-data-table [lazyLoad]="true" [virtualCount]="virtualCount" (lazyLoadingData)="onLazyLoad($event)" [(selection)]="selectedData3" class="sme-layout-absolute sme-position-inset-none">
                            <sme-data-table-column field="field1" header="String Field 1" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="field2" header="Number Field 2" sortable="true">
                                <ng-template let-index="index" let-data>
                                    <span [ngClass]="{'sme-icon-cluster':index%2==0}" class="sme-padding-right-xxs sme-icon"></span>
                                    <strong>{{data.field2}}</strong>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="field3" header="String Field 3" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="field4" header="Number Field 4" sortable="true">
                                <ng-template let-data>
                                    <sme-capacity-bar-chart class="table-chart" [height]="10" [totalCapacity]="100" [capacityUsed]="data.field4"></sme-capacity-bar-chart>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="field5" header="String Field 5" sortable="custom" [compareFunction]="customSortCompare"></sme-data-table-column>
                            <sme-data-table-column field="description" header="Long Text Column" sortable="true"></sme-data-table-column>
                        </sme-data-table>
                    </div>
                </section>
            </ng-template>
        </sme-pivot-tab>
        <sme-pivot-tab label="Data Streaming">
            <ng-template>
                <section class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
                    <h3 class="sme-position-flex-none">Data Streaming</h3>
                    <div class="sme-position-flex-none">
                        <button (click)="startDataStreaming()">Start Data Streaming</button>
                        <button (click)="stopDataStreaming()">Stop Data Streaming</button>
                        <span>Count: {{sampleData4 && sampleData4.length}}</span>
                    </div>
                    <div class="sme-layout-relative sme-position-flex-auto">
                        <sme-data-table #dataTableForDataStreaming [items]="sampleData4" [(selection)]="selectedData4" class="sme-layout-absolute sme-position-inset-none" [defaultSortColumn]="defaultSortColumn" [defaultSortMode]="1" (doCustomSort)="doCustomSort($event)">
                            <sme-data-table-column field="field1" header="String Field 1" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="field2" header="Number Field 2" sortable="true">
                                <ng-template let-index="index" let-data>
                                    <span [ngClass]="{'sme-icon-cluster':index%2==0}" class="sme-padding-right-xxs sme-icon"></span>
                                    <strong>{{data.field2}}</strong>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="field3" header="String Field 3" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="field4" header="Number Field 4" sortable="true">
                                <ng-template let-data>
                                    <sme-capacity-bar-chart class="table-chart" [height]="10" [totalCapacity]="100" [capacityUsed]="data.field4"></sme-capacity-bar-chart>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column #defaultSortColumn field="field5" header="String Field 5" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="description" header="Long Text Column" sortable="true"></sme-data-table-column>
                        </sme-data-table>
                    </div>
                </section>
            </ng-template>
        </sme-pivot-tab>
        <sme-pivot-tab label="Grouping">
            <ng-template>
                <section class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
                    <h3 class="sme-position-flex-none">Grouping</h3>
                    <div class="sme-position-flex-none">
                        <span>Group Column</span>
                        <select [(ngModel)]="groupColumnField" (change)="onGroupColumnChanged()">
                <option value="">(None)</option>
                <option *ngFor="let column of groupDataTable.columns" value="{{column.field}}">{{column.header}}</option>
            </select>
                        <span>Sort</span>
                        <select [(ngModel)]="groupSortMode" (change)="onGroupSortModeChanged()">
                <option value="0">None</option>
                <option value="1">Ascend</option>
                <option value="2">Descend</option>
            </select>
                        <button (click)="groupDataTable.expandAllGroup()">Expand all groups</button>
                        <button (click)="groupDataTable.collaseAllGroup()">Collapse all groups</button>
                        <sme-form-field #search type="search" [autofocus]="true" [count]="groupDataTable.renderedItems.length" [(ngModel)]="searchString"></sme-form-field>
                        <button (click)="refreshDataSource()">Refresh Data Source</button>
                    </div>
                    <div class="sme-layout-relative sme-position-flex-auto">
                        <sme-data-table #groupDataTable [items]="sampleData5" selectionMode="multiple" [groupColumn]="groupColumn" useGroupToggle="true" [defaultGroupToggleExpanded]="true" [(selection)]="selectedData5" class="sme-layout-absolute sme-position-inset-none" [defaultSortColumn]="customSortColumn"
                            [defaultSortMode]="1" [globalFilter]="search" [rememberSelection]="true" [getItemIdentityFunction]="getGroupItemIdentityFunction">
                            <ng-template let-data #group>
                                <b class="group-header-text" [ngStyle]="{'width':groupDataTable.actualColumns[0].domWidth-22+'px'}">{{data || '(empty)'}}</b>
                                <span>{{getGroupSummary(data)}}</span>
                            </ng-template>
                            <sme-data-table-column field="ContactName" header="Contact Name" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="CompanyName" header="Company Name" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="ContactTitle" header="Contact Title" sortable="true">
                                <ng-template let-data>
                                    <span class="sme-padding-right-xxs sme-icon sme-icon-cluster"></span>
                                    <b>{{data.ContactTitle}}</b>
                                </ng-template>
                            </sme-data-table-column>
                            <sme-data-table-column field="Address" header="Address" sortable="true"></sme-data-table-column>
                            <sme-data-table-column #groupColumn field="City" header="City" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="PostalCode" header="PostalCode" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="CountryRegion" header="Country/Region" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="Phone" header="Phone" sortable="true"></sme-data-table-column>
                            <sme-data-table-column field="Fax" header="Fax" sortable="true"></sme-data-table-column>
                        </sme-data-table>
                    </div>
                    <div class="sme-position-flex-none">
                        Selected Items:
                        <span *ngFor="let item of selectedData5">{{item.ContactName}} </span>
                    </div>
                </section>
            </ng-template>
        </sme-pivot-tab>
    </sme-pivot>
</div>