<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
    <h1>Layout</h1>
    <section>
        <p>Layout in SME is divided into the following categories:</p>
        <ul>
            <li>layout</li>
            <li>position</li>
            <li>arrange</li>
        </ul>
        <p>These classes try to seperate how an element is laid out on a page relative to itself, its neighbors, and its children. However dont take this as an exact definition as many css properties have effects on more than one of these relationships</p>
    </section>

    <h2>Layout Classes</h2>
    <section>
        <p>These classes are generally self descriptive and mostly set position and display properties</p>
        <table>
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Effect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.sme-layout-absolute</td>
                    <td>Applies absolute positioning</td>
                </tr>
                <tr>
                    <td>.sme-layout-relative</td>
                    <td>Applies relative positioning</td>
                </tr>
                <tr>
                    <td>.sme-layout-fixed</td>
                    <td>Applies fixed positioning</td>
                </tr>
                <tr>
                    <td>.sme-layout-float-left</td>
                    <td>Applies a left float</td>
                </tr>
                <tr>
                    <td>.sme-layout-float-right</td>
                    <td>Applies a right float</td>
                </tr>
                <tr>
                    <td>.sme-layout-clearfix</td>
                    <td>Applies SME's clearfix solution</td>
                </tr>
                <tr>
                    <td>.sme-layout-visible</td>
                    <td>Makes the element visible using visibility: visible</td>
                </tr>
                <tr>
                    <td>.sme-layout-collapsed</td>
                    <td>Collapses the element using visibility: collapsed</td>
                </tr>
                <tr>
                    <td>.sme-layout-hidden</td>
                    <td>Hides the element using visibility: hidden</td>
                </tr>
                <tr>
                    <td>.sme-layout-inline</td>
                    <td>Applies inline positioning to the element</td>
                </tr>
                <tr>
                    <td>.sme-layout-none</td>
                    <td>Hides the element using display: none</td>
                </tr>
                <tr>
                    <td>.sme-layout-block</td>
                    <td>Applies block level positioning to the element</td>
                </tr>
                <tr>
                    <td>.sme-layout-inline-block</td>
                    <td>Applies inline-block positioning to the element</td>
                </tr>
            </tbody>
        </table>
    </section>

    <h2>Position Classes</h2>
    <section>
        <p>These classes are usefull for performing common positioning techniques with various display and position types.</p>
        <p>
            <span>All of the</span>
            <a class="sme-link" routerLink="/dev/styles/spacing">spacing classes</a>
            <span>fall into this category as well.</span>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Effect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>.sme-position-center</div>
                        <div>.sme-position-center-h</div>
                        <div>.sme-position-center-v</div>
                    </td>
                    <td>Centers an element using absolute positioning techniques</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-position-center-h-block</div>
                    </td>
                    <td>Centers an element using techniques specific to non-absolute block elements</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-position-center-h-inline</div>
                        <div>.sme-position-left-inline</div>
                        <div>.sme-position-right-inline</div>
                    </td>
                    <td>Aligns an element horizontally using techniques specific to non-absolute inline elements</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-position-stretch</div>
                        <div>.sme-position-stretch-h</div>
                        <div>.sme-position-stretch-v</div>
                    </td>
                    <td>Stretches and element to fill the available space using height and width</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-position-flex-auto</div>
                        <div>.sme-position-flex-none</div>
                    </td>
                    <td>When in a flexbox arrangement such as a stack or wrapstack. Species if the element should be automatically sized by its parents flexbox implementation</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-position-flex-align-stretch</div>
                        <div>.sme-position-flex-align-center</div>
                        <div>.sme-position-flex-align-start</div>
                        <div>.sme-position-flex-align-end</div>
                        <div>.sme-position-flex-align-baseline</div>
                    </td>
                    <td>When in a flexbox arrangement such as a stack or wrapstack. Species self alignment in the flexbox.</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-position-align-v-inline-top</div>
                        <div>.sme-position-align-v-inline-bottom</div>
                        <div>.sme-position-align-v-inline-middle</div>
                        <div>.sme-position-align-v-inline-text-top</div>
                        <div>.sme-position-align-v-inline-text-bottom</div>
                        <div>.sme-position-align-v-inline-sub</div>
                        <div>.sme-position-align-v-inline-super</div>
                    </td>
                    <td>Specifies the vertical alignment of an element</td>
                </tr>

                <tr>
                    <td>
                        <div>.sme-position-below</div>
                    </td>
                    <td>Absolutely positions an element to be below its parent element. Used for dropdowns and menus.</td>
                </tr>
            </tbody>
        </table>
    </section>
    <h2>Arrangement Classes</h2>
    <section>
        <p>Arrangement can be thought of as describing how an element deals with its children.</p>

        <table>
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Effect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>.sme-arrange-stack-h</div>
                        <div>.sme-arrange-stack-v</div>
                    </td>
                    <td>Directs children to stack vertically or horizontally within the element. If the element has a height, implicit or explicit, its children with the '.sme-position-flex-auto' class will stretch to fill any remaing space.</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-arrange-wrapstack-h</div>
                        <div>.sme-arrange-wrapstack-v</div>
                    </td>
                    <td>Same as 'stack', except with wrapping enabled.</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-arrange-stack-centered</div>
                    </td>
                    <td>Use in conjunction with stack or wrapstack. Orients child elements to be centered in the element</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-arrange-stack-reversed</div>
                    </td>
                    <td>Use in conjunction with stack or wrapstack. reverses the order and orientation of the stack such that items are aligned to the opposite edge than usual</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-arrange-ws-nowrap</div>
                        <div>.sme-arrange-ws-wrap</div>
                        <div>.sme-arrange-ws-preserve</div>
                        <div>.sme-arrange-ws-preserve-line</div>
                        <div>.sme-arrange-ws-preserve-wrap</div>
                    </td>
                    <td>Sets the whitespace property of the element.</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-arrange-ellipsis</div>
                    </td>
                    <td>Arranges for the ellipsis pattern to be used on this element. That is {{ '{' }} whitespace: nowrap, overflow: hidden, text-overflow:ellipses {{ '{' }}</td>
                </tr>
                <tr>
                    <td>
                        <div>.sme-arrange-overflow-[type]</div>
                        <div>.sme-arrange-overflow-[type]-[direction]</div>
                    </td>
                    <td>Sets overflow on an element. Allowed '[type]' values are 'auto', 'scroll', 'hide', and 'show'. The optional '-[direction]' may also be appended. Valid values for '[direction]' are 'x' and 'y'</td>
                </tr>
            </tbody>
        </table>
    </section>

    <h2>Special Layout Classes</h2>
    <section>
        <p>Some layouts require special settings that are not covered by the standard layout classes such as dialogs and dropdowns. For these cases, special layout classes have been provided.</p>

        <table>
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Effect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.sme-layout-dialog-pane</td>
                    <td>Applies layout rules for an action pane</td>
                </tr>
                <tr>
                    <td>.sme-layout-dialog-compact</td>
                    <td>Applies layout rules for a compact action pane</td>
                </tr>
                <tr>
                    <td>.sme-layout-dialog-fullscreen</td>
                    <td>Applies layout rules for a fullscreen dialog</td>
                </tr>
                <tr>
                    <td>.sme-layout-dialog-centered</td>
                    <td>Applies layout rules for a centered dialog</td>
                </tr>
                <tr>
                    <td>.sme-layout-dialog-centered-large</td>
                    <td>Applies layout rules for a large centered dialog</td>
                </tr>
                <tr>
                    <td>.sme-layout-dialog-compact-square</td>
                    <td>Applies layout rules for a compacted square dialog</td>
                </tr>
                <tr>
                    <td>.sme-layout-dropdown</td>
                    <td>Applies layout rules for rules</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>