<div class="sme-documentation sme-layout-relative sme-position-stretch-h sme-margin-top-sm">
    <p>The admin settings retrieve and store settings affecting all users of the installed extension, able to be read by any user but only written by administrators:</p>
    <sme-loading-wheel *ngIf="!settings && !settingsFailed"></sme-loading-wheel>
    <form *ngIf="settings">
        <sme-form-field type="checkbox" name="example-checkbox" [(ngModel)]="settings.booleanExample" [label]="'Boolean Example'"></sme-form-field>
        <div class="sme-margin-top-xs">
            <button type="submit" (click)="saveSettings()">Save Settings</button>
        </div>
    </form>
    <div [smeMarkdown]="adminCode"></div>
</div>

