<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
  <h1>Keyboard Accessibility</h1>
  <section>
    <h2> General best practices</h2>
    <p> When adding keyboard support to the extension or specific part the extension, following rules should be kept in
      mind. </p>
    <ul>
      <li><b>Rule of thumb:</b> Any operation a user can perform using a mouse, can be performed using keyboard.</li>
      <li><b>Tab stops:</b> If you are designing a new control/widget, please only allow TAB key to enter or exit
        control. Use arrows keys to navigate between the elements inside the control.</li>
      <li><b>Ordered tab stops:</b> There should be a meaningful sequence of tabbing. The orientation we recommend is from
        Top left to bottom right.</li>
      <li><b>Reverse Tabbing:</b> When a user presses Shift+Tab for reverse navigation, please make sure the order does not
        differ from the forward Tabbing. Only the direction should be changed.</li>
      <li><b>Visible focus:</b> As a user presses the Tab key, the focus moving from element to element should be clearly visible.
        For example, it could show a dotted or solid border as focused element or could be very clear
        color change.</li>
      <li><b>No keyboard trap:</b> Keyboard trap is when keyboard focus cycles through specific part of the control or
        application, making other parts of application unreachable using keyboard only. Make sure all areas visible on
        the UI are in keyboard focus ordered. The only exception for this is modal dialogs. </li>
      <li><b>Short Keys</b> Short keys quickly let you jump to a specific part of your application or perform
        specific operations by using well defined key combinations. Use them as per operational needs.</li>
      <li><b>No positive tab index</b> Never assign a positive tab index. In Windows Admin Center, all tabbing is
        controlled through Accessibility Manager. Any positive tab index will break the order. Generally, tabbing can be
        handled organically by browser based on DOM order or programmatically using specific routines.</li>
    </ul>
  </section>
  <section>
    <h2>Windows Admin Center short keys</h2>
    <p>Windows Admin Center has the following short keys implemented today. You can also access them through ? ->
      Keyboard shortcuts on top right corner of Windows Admin Center.</p>
    <h3>General</h3>
    <kbd class="sme-margin-right-xxs">Tab</kbd>
    <kbd class="sme-margin-right-xxs">Shift + Tab</kbd>
    <p class="sme-margin-top-xs">Move focus forward and backward between controls.</p>
    <kbd class="sme-margin-right-xxs">←</kbd>
    <kbd class="sme-margin-right-xxs">↑</kbd>
    <kbd class="sme-margin-right-xxs">→</kbd>
    <kbd class="sme-margin-right-xxs">↓</kbd>
    <p class="sme-margin-top-xs">Moves focus between elements in a control.</p>
    <kbd class="sme-margin-right-xxs">Home</kbd>
    <kbd class="sme-margin-right-xxs">End</kbd>
    <p class="sme-margin-top-xs">Moves focus between the first and last element within a control.</p>
    <kbd class="sme-margin-right-xxs">Ctrl + Alt + A</kbd>
    <p class="sme-margin-top-xs">Moves focus to the action bar.</p>
    <kbd class="sme-margin-right-xxs">Alt +F1</kbd>
    <div>
      <p class="sme-margin-top-xs sme-layout-inline-block">Shows additional information on an info icon. </p>
      <span class="sme-icon sme-icon-info sme-info-bubble"></span>
    </div>
    <h3>Tables and lists</h3>
    <kbd class="sme-margin-right-xxs">↑</kbd>
    <kbd class="sme-margin-right-xxs">↓</kbd>
    <p class="sme-margin-top-xs">Moves focus between rows.</p>
    <kbd class="sme-margin-right-xxs">←</kbd>
    <kbd class="sme-margin-right-xxs">→</kbd>
    <p class="sme-margin-top-xs">Moves focus between focusable elements in a row.</p>
    <kbd class="sme-margin-right-xxs">PageUp</kbd>
    <kbd class="sme-margin-right-xxs">PageDown</kbd>
    <p class="sme-margin-top-xs">Moves focus up and down the table by the length of one page.</p>
    <kbd class="sme-margin-right-xxs">Home</kbd>
    <kbd class="sme-margin-right-xxs">End</kbd>
    <p class="sme-margin-top-xs">Moves focus between the first and last row.</p>
  </section>
  <section>
    <h2>Windows Admin Center keyboard navigation</h2>

    <p> Windows Admin Center provides built in keyboard navigation functionality to all common controls designed to let
      users navigate to everywhere on the page using just the keyboard following the guidelines stated above. </p>
    <p> This works by traversing the DOM using Depth First Search to change the element focus based on the key pressed,
      element position, and element properties. </p>
    <h3> Focus Zones (aka Tab Stops) </h3>
    <img src="/assets/images/focuszones.png" width="800">
    <p>
      Focus zones are the tab stops defined by our controls. Within a focus zone, the user should be able to navigate
      through focusable elements using arrow and home/end keys.
      See in the image above an example of all of the focus zones we include in our application and the order in which
      you will visit them when tabbing through the application.
    </p>
    <p> The things that make something a focus zone are:</p>

    <ul>
      <li>role = 'grid', 'tablist', 'table', 'menubar', 'navigation', 'dialog'</li>
      <li>class="sme-focus-zone"</li>
      <li>specific sme control</li>
      <li>focusable form elements</li>
    </ul>

    <p>
      If there is an area of your tool that you want to behave as a focus zone, add the appropriate role or the class
      "sme-focus-zone" to that element.</p>

    <p>The things that make something a focusable element are: </p>
    <ul>
      <li>tab index defined and >= 0</li>
      <li>anchor tag 'a' with href</li>
      <li>tag = 'INPUT', 'SELECT', 'TEXTAREA', 'BUTTON', 'OBJECT'</li>
    </ul>
    <p> If any of the above are true but the element has a disabled or hidden ancestor, the element is not focusable.
    </p>

    <h3>Dialog traps and forms</h3>
    <img src="assets/images/dialogtrapform.png" width="800">
    <p>
      In the image above we show the expected tab stop order in forms as indicated by the red boxes and numbers.
      Notice that <b>all form elements are focus zones</b>. This means that in any form, you must tab through every
      element in the form to navigate between inputs. We also indicate in the image that dialogs are treated as focus
      traps.
      This means that once focus is inside of a dialog, the user should not be able to navigate to other parts of the
      application until they are done interacting with the dialog. Dialogs are the only acceptable type of focus traps
      in the application.
    </p>

    <h3>Mixed use zones</h3>
    <img src="assets/images/mixedusezone.png" width="500">
    <p>When making your tool keyboard accessible it is important to avoid mixed use zones.
      A mixed use zone is a focus zone that has children on the same level that are both zones and focusable elements as
      shown in black in the image above.
      Because our tab navigation relies on locating the next zone, having mixed use zones can result in unreachable
      elements.
      The solution is to explicitly define zones around all focusable elements with zone siblings so that there is a
      defined tab order for all elements.
      This solution is shown above in red.
    </p>
    <h3>Accessibility Manager</h3>
    <p>All of the code to manage keyboard interactions come through AccessibilityManager (core\data\accessibility-manager.ts in the SDK) in shell. Accessibility
      manager has a global handler for all keydown events.
      Based on the keydown event, we traverse the DOM to change focus appropriately. To locate the appropriate element,
      we have a utility class called Dom (core\dom\dom.ts in the SDK) that handles all DOM traversal and identification of properties on
      DOM
      elements.
      The utilities in Dom can be called from any component for any custom behavior needed for keyboard accessibility.
    </p>
    <h3>Override global keydown handler</h3>
    <p> If necessary, you can override the global keyboard handler in favor of custom behavior for your control.
      In your control, you can register a function you wrote for handling focus events with our global event handler
      <code>CoreEnvironment.accessibilityManager.registerElementFocusingEvent(this.onElementFocusing.bind(this));</code>

      Then, your function <code>onElementFocusing(event: ElementFocusingEvent)</code> will be passed an <code>ElementFocusingEvent</code>. The <code>ElementFocusingEvent</code> will give
      you information about the event and current element. You can call <code>event.preventDefaultFocusBehavior()</code> and
      <code>event.preventDefaultEvent()</code> if you want to override global keyboard handling as well as default browser behavior in favor of your handler.
      See code in core\data\accessibility-manager.ts and usage in angular\src\controls\data-table\data-table.component.ts for examples.
    </p>

  </section>
</div>
