# compiled output
/bundle
/src/generated
/src/assets/strings/**/*.json
/dist
/inlineSrc
/inlineDist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vs
/obj
/*ntvs_analysis*
.project
.classpath
.c9/
*.launch
.settings/
/ssl
*.log

# test
**/*junit*.xml
unittests/*
scenariotestresults/*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

#System Files
.DS_Store
Thumbs.db
