<sme-settings-page>
  <sme-settings-content>
    <form id="sme-isolated-settings-form1" [smeSettingsForm]="sampleForm" [formGroup]="sampleForm" aria-labelledby="sme-shell-setting-selectedTitle">
      <sme-form-field type="text" [label]="nameLabel" formControlName="name" [required]="true" [autofocus]="true"></sme-form-field>
    </form>
  </sme-settings-content>
  <sme-settings-footer>
    <button type="submit" for="sme-isolated-settings-form1" class="sme-button-primary" (click)="onSaveClick()" [disabled]="!sampleForm.dirty || !sampleForm.valid || saving">{{
      saveButtonLabel }}</button>
    <button type="button" (click)="onDiscardClick()" [disabled]="!sampleForm.dirty || saving">{{
      discardButtonLabel }}</button>
    <button type="button" (click)="onCloseClick()">{{ closeButtonLabel }}</button>
  </sme-settings-footer>
</sme-settings-page>
