<h3>Simple Dropdown without Validation</h3>
<form #formCtrl="ngForm" [formGroup]="form" class="sme-padding-vertical-lg">
  <sme-form-field type="combobox" formControlName="dropdownOneOption" [label]="dropdownLabel">
    <sme-option *ngFor="let option of options" [value]="option.value" [label]="option.label"></sme-option>
  </sme-form-field>
  <sme-validation-alert *ngIf="!valid" [alert]="alert"></sme-validation-alert>
</form>

<div *ngIf="form.value.dropdownOneOption">
  <h3 class="sme-padding-bottom-md">Dynamic text based on dropdown selection:</h3>
  <p>{{dropdownOneOptionsMap[form.value.dropdownOneOption].description}}</p>
</div>
