<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
    <h2>Enum Convertor Pipe</h2>
    <p>The smeEnumConverter pipe operates in two ways.</p>
    <section>
        <h3>Custom Enum Mapping</h3>
        <section>
            <p>Custom enum mapping allows you to provide a custom set of values to map an enum. In this mode the pipe argument is a map of numbers to other value.</p>
            <p> In the example below, we are mapping the selected value of our color property to a css color.</p>
            <p [style.color]="selectedColor | smeEnumConverter:color.hexColorMap">
                <b>This is the selected color.</b>
            </p>
        </section>
        <h3>Extended Enum Mapping</h3>
        <section>
            <p>Extended enums are typescript enums that have a module with a similar name appended with 'Enum' (see code below). This allows us to define common functions in that module that help work with the enum.</p>
            <p>When this pipe is used in extended enum mode, the first argument is the id of the enum. The second optional argument is the type of translation to do. This option can be "localized" (default) or "raw".</p>
            <p>It is assumed that EnumConverterPipe.registerEnum([enum]) has been called somewhere in the application, where [enum] is an extended enum with the enum id.</p>
            <form class="sme-documentation-example">
                <sme-form-field type="combobox" name="color" [(ngModel)]="selectedColor" label="Selected Color">
                    <sme-option *ngFor="let colorValue of color.values" [value]="colorValue" [label]="colorValue | smeEnumConverter:color.enumId: null"></sme-option>
                </sme-form-field>
            </form>
        </section>
    </section>
    <h2>Enum/Module Pattern</h2>
    <section>
        <p>The extended enum pattern allows for a greater shared implementation of enum related logic. Here is how we implemented this pattern for this example.</p>
        <sme-pivot [selection]="ex1Tab1" style="height:800px" class="sme-margin-bottom-lg">
            <sme-pivot-tab #ex1Tab1 label="color.ts">
                <ng-template>
                    <pre><code>{{code.colorTs}}</code></pre>
                </ng-template>
            </sme-pivot-tab>
            <sme-pivot-tab label="color.component.ts">
                <ng-template>
                    <pre><code>{{code.componentTs}}</code></pre>
                </ng-template>
            </sme-pivot-tab>
            <sme-pivot-tab label="color.component.html">
                <ng-template>
                    <pre><code>{{code.componentHtml}}</code></pre>
                </ng-template>
            </sme-pivot-tab>
        </sme-pivot>
    </section>
</div>