<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
  <section>
    <div class="sme-documentation-example">
      <h3>Standard search box with a label that is hidden</h3>
      <br>

      <form>
        <sme-form-field type="search" name="searchBox" [description]="'test'" label="Search box #1" [(ngModel)]="search"
          (search)="onSearch($event)" (deliberateSearch)="onDeliberateSearch($event)"></sme-form-field>
      </form>
      <br>
      <p>Searched for: {{searchedString}}</p>
      <p>Deliberately Searched for: {{deliberatelySearchedString}}</p>
    </div>

    <div class="sme-documentation-example">
      <h3>Standard search box emphasized search button</h3>
      <br>

      <form>
        <sme-form-field type="search" name="searchBox3" [description]="'test'" label="Search box #3"
          [(ngModel)]="search3" (search)="onSearch3($event)" (deliberateSearch)="onDeliberateSearch3($event)"
          [emphasizeSearchButton]="true"></sme-form-field>
      </form>
      <br>
      <p>Searched for: {{searchedString3}}</p>
      <p>Deliberately Searched for: {{deliberatelySearchedString3}}</p>
    </div>

    <div class="sme-documentation-example">
      <h3>Search box with a label, description, and required attribute</h3>
      <br>

      <form>
        <sme-form-field type="search" name="searchBox2" [hideHeader]="false" [required]="true"
          [description]="'Tooltip test'" label="Search box #2" [(ngModel)]="search2" (search)="onSearch2($event)"
          (deliberateSearch)="onDeliberateSearch2($event)"></sme-form-field>
      </form>
      <br>
      <p>Searched for: {{searchedString2}}</p>
      <p>Deliberately Searched for: {{deliberatelySearchedString2}}</p>
    </div>

    <div class="sme-documentation-example sme-margin-bottom-xxl">
      <h3>Search box inside combobox</h3>
      <div class="sme-layout-relative sme-arrange-stack-v sme-position-stretch-h">
        <form [formGroup]="searchableComboboxFormGroup">
          <div class="sme-arrange-stack-h sme-position-stretch-h">
            <sme-form-field type="combobox" formControlName="single1" [label]="comboBoxData.label1" [multiple]="false"
              [required]="false" placeholder="combobox1" class="sme-margin-right-sm">
              <sme-option *ngFor="let option of comboBoxData.options" [value]="option.value" [label]="option.label">
              </sme-option>
            </sme-form-field>
            <sme-form-field type="combobox" formControlName="single2" [label]="comboBoxData.label2" [multiple]="false"
              [required]="false" [searchable]="true" placeholder="combobox2" style="margin-top:0px"
              [overflowWrap]="true">
              <sme-option *ngFor="let option of comboBoxData.options" [value]="option.value" [label]="option.label">
              </sme-option>
            </sme-form-field>
          </div>
          <div class="sme-arrange-stack-h sme-position-stretch-h sme-margin-top-sm">
            <sme-form-field type="combobox" formControlName="multiple1" [label]="comboBoxData.label3" [multiple]="true"
              [required]="false" placeholder="combobox3" class="sme-margin-right-sm">
              <sme-option *ngFor="let option of comboBoxData.options" [value]="option.value" [label]="option.label">
              </sme-option>
            </sme-form-field>
            <sme-form-field type="combobox" formControlName="multiple2" [label]="comboBoxData.label4" [multiple]="true"
              [required]="false" [searchable]="true" placeholder="combobox4" style="margin-top:0px">
              <sme-option *ngFor="let option of comboBoxData.options2" [value]="option.value" [label]="option.label"
                [disabled]="option.disabled">
              </sme-option>
            </sme-form-field>
          </div>
          <div class="sme-arrange-stack-h sme-position-stretch-h sme-margin-top-sm">
            <sme-form-field type="combobox" formControlName="multiple3" [label]="comboBoxData.label5" [multiple]="true"
              [required]="false" [searchable]="true" placeholder="combobox5" [dropdownApplyFormFieldOffsetWidth]="false"
              class="sme-margin-right-sm" [overflowWrap]="true">
              <sme-option *ngFor="let option of comboBoxData.options" [value]="option.value" [label]="option.label">
              </sme-option>
            </sme-form-field>
            <sme-form-field type="combobox" formControlName="multiple4" [label]="comboBoxData.label6" [multiple]="true"
              [required]="false" [searchable]="true" placeholder="combobox6" style="margin-top:0px">
              <sme-option *ngFor="let option of comboBoxData.options2" [value]="option.value" [label]="option.label"
                [disabled]="option.disabled" [tooltipTemplate]="multiple4tooltipTemplate" [tooltipContext]="option">
              </sme-option>
              <ng-template #multiple4tooltipTemplate let-context>
                <div>
                  <div>This is my custom tooltip, I can put <b>whatever</b> I want here.</div>
                  <div>This is a multiple selections dropdown option.</div>
                  <div>The label is {{context.label}}</div>
                  <div>It is {{context.disabled ? 'a disabled' : 'an enabled'}} option</div>
                </div>
              </ng-template>
            </sme-form-field>
          </div>
          <div class="sme-arrange-stack-h sme-position-stretch-h sme-margin-top-sm">
            <sme-form-field type="combobox" formControlName="single3" [label]="comboBoxData.label7" [required]="false"
              [searchable]="true" placeholder="combobox7" class="sme-margin-right-sm">
              <sme-option *ngFor="let option of comboBoxData.options2" [value]="option.value" [label]="option.label"
                [disabled]="option.disabled" [tooltipTemplate]="single3tooltipTemplate" [tooltipContext]="option">
              </sme-option>
              <ng-template #single3tooltipTemplate let-context>
                <div>
                  <div>This is my custom tooltip, I can put <b>whatever</b> I want here.</div>
                  <div>This is a single selection dropdown option.</div>
                  <div>The label is {{context.label}}</div>
                  <div>It is {{context.disabled ? 'a disabled' : 'an enabled'}} option</div>
                </div>
              </ng-template>
            </sme-form-field>
            <sme-form-field type="combobox" formControlName="multiple5" [label]="comboBoxData.label8" [multiple]="true"
              [required]="false" [searchable]="true" placeholder="combobox8" style="margin-top:0px">
              <sme-option *ngFor="let option of comboBoxData.options2" [value]="option.value" [label]="option.label"
                [disabled]="option.disabled">
              </sme-option>
            </sme-form-field>
          </div>
          <div class="sme-arrange-stack-h sme-position-stretch-h sme-margin-top-sm">
            <sme-form-field type="combobox" formControlName="multiple6" [label]="comboBoxData.label9" [multiple]="true"
              [required]="false" [searchable]="true" placeholder="combobox9"
              (ngModelChange)="onComboBox9Change($event)">
              <sme-option *ngFor="let option of comboBoxData.options2" [value]="option.value" [label]="option.label"
                [disabled]="option.disabled">
              </sme-option>
            </sme-form-field>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>