<div class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
    <h1 class="sme-position-flex-none">Form Elements</h1>
    <sme-pivot class="sme-position-flex-auto">        
        <sme-pivot-tab label="Button" route="/tools/styles/forms" [routerLinkActiveOptions]="{exact:true}"></sme-pivot-tab>
        <sme-pivot-tab label="Checkbox" route="/tools/styles/forms/checkbox"></sme-pivot-tab>
        <sme-pivot-tab label="Radio" route="/tools/styles/forms/radio"></sme-pivot-tab>
        <sme-pivot-tab label="Slider" route="/tools/styles/forms/slider"></sme-pivot-tab>
        <sme-pivot-tab label="Toggle Switch" route="/tools/styles/forms/toggle-switch"></sme-pivot-tab>
    </sme-pivot>
</div>