<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
    <header class="sme-layout-tool-header">
      <h1>Notification Service Examples</h1>
    </header>
    <section>
      <p>
        This component provides a short overview / example on how to utilize the notification features provided by the
        SME and shell. At this point in time, there are 5 examples, 3 popups and 2 tray notifications.
      </p>
    <section>
    <div>
        <sme-action-bar class="fixed-flex-size tool-bar first-row">
            <sme-action-button #action [text]="'In Progress Notification'" [iconClass]="'sme-icon sme-icon-upload'" (execute)="clientNotificationClick()"></sme-action-button>
            <sme-action-button #action [text]="'Alert Notification'" [iconClass]="'sme-icon sme-icon-upload'" (execute)="sendAlert()"></sme-action-button>
            <sme-action-button #action [text]="'Information Notification'" [iconClass]="'sme-icon sme-icon-download'" (execute)="sendInformation()"></sme-action-button>
            <sme-action-button #action [text]="'Long Running Notification Success'" [iconClass]="'sme-icon sme-icon-powerButton'" (execute)="onClickLongRunning(true)"></sme-action-button>
            <sme-action-button #action [text]="'Long Running Notification Failure'" [iconClass]="'sme-icon sme-icon-powerButton'" (execute)="onClickLongRunning(false)"></sme-action-button>
        </sme-action-bar>
    <div>
  </div>
  <sme-dev-guide-shell-services-notifications-long-running-notification-dialog></sme-dev-guide-shell-services-notifications-long-running-notification-dialog>
  
  <div>
      <div *ngIf="codeDisplay === 'process'">
          <pre class="prettyprint">
              <code>
                  const notificationInstance = this.appContextService.notification.create('&lt;noNodename.nodomain.abc.123.xyz.com&gt;');
                  const inProgressTitle = 'Executing example action';
                  notificationInstance.showInProgress(
                      inProgressTitle,
                      'message 0 something happened that was really interesting. something happened that was really interesting.'
                      + ' something happened that was really interesting.'
                  );
                  setTimeout(
                      () => {{ '{' }}
                          notificationInstance.showInProgress(inProgressTitle, 'message 1');
                      {{'}'}},
                      5000);
                  setTimeout(
                      () => {{ '{' }}
                          notificationInstance.showInProgress(inProgressTitle, 'message 2');
                      {{'}'}},
                      10000);
                  setTimeout(
                      () => {{ '{' }}
                          notificationInstance.showSuccess('Successfully finished example action', 'message 3');
                      {{'}'}},
                      15000);
              </code>
          </pre>
      </div>
      <div *ngIf="codeDisplay === 'alert'">
          <pre class="prettyprint">
              <code>
                  const notificationInstance = this.appContextService.notification.create('&lt;noNodename.nodomain.abc.123.xyz.com&gt;');
                  const errorTitle = 'Showing Error example';
                  ++this.alertCount;
                  notificationInstance.showError(
                      errorTitle,
                      'This demo error has been shown: ' + this.alertCount + ' time(s).'
                  );
              </code>
          </pre>
      </div>
      <div *ngIf="codeDisplay === 'notify'">
          <pre class="prettyprint">
              <code>
                  const notificationInstance = this.appContextService.notification.create('&lt;noNodename.nodomain.abc.123.xyz.com&gt;');
                  const informationTitle = 'Showing Information example';
                  ++this.notificationCount;
                  notificationInstance.showInformation(
                      informationTitle,
                      'This demo notification has been shown: ' + this.notificationCount + ' time(s).',
                  );
              </code>
          </pre>
      </div>
      <div *ngIf="codeDisplay === 'longRunning'">
              <pre class="prettyprint">
                  <code ng-non-bindable>
                    public submitWorkItemRequest(shouldSucceed: boolean, targetMachine: string): void {{ '{' }}
                        this.sendWorkItemRequest(shouldSucceed, targetMachine).subscribe(
                            result => {{ '{' }}
                                if (result.error) {{ '{' }}
                                    const notification: ClientNotification = {{ '{' }}
                                        title: 'Long Running Request',
                                        message: 'The long running notification failed',
                                        id: result.id,
                                        state: NotificationState.Error
                                    {{'}'}};
                                    this.appContextService.notification.notify(targetMachine, notification);
                                {{'}'}}
                
                            {{'}'}}
                        );
                    {{'}'}}
                
                    private sendWorkItemRequest(shouldSucceed: boolean, targetMachine: string): Observable&lt;WorkItemResult&gt; {{ '{' }}
                        const script = shouldSucceed ?
                            PowerShellScripts.Notifications.Start_LongRunningTaskSuccessExample
                            : PowerShellScripts.Notifications.Start_LongRunningTaskFailureExample;
                        const command = PowerShell.createCommand(script);
                
                        const workItem: WorkItemSubmitRequest = {{ '{' }}
                            typeId: 'longRunning',
                            powerShellCommand: command,
                
                            // in progress notifications
                            inProgressTitle: 'Executing long running request',
                            startedMessage: 'The long running request has been started',
                            progressMessage: 'Working on long running request',
                
                            // success notification
                            successTitle: 'Successfully executed long running request',
                            successMessage: 'The test {{name}} was successful',
                            successLinkText: 'Bing',
                            successLink: 'http://www.bing.com',
                            successLinkType: NotificationLinkType.Absolute,
                
                            // error notification
                            disableErrorNotification: true,
                            errorTitle: 'Failed to execute long running request',
                            errorMessage: 'Error during test'
                        {{'}'}};
                
                        return this.appContextService.workItem.submitAndWait(targetMachine, workItem);
                    {{'}'}}
                  </code>
              </pre>
          </div>
  </div>