<div class="sme-layout-absolute sme-position-inset-none sme-arrange-stack-v">
    <h1 class="sme-position-flex-none sme-padding-squish-v-md">Development Guide</h1>
    <sme-pivot class="sme-position-flex-auto" headerClass="sme-padding-horizontal-md">
        <sme-pivot-tab label="Landing" route="/dev/landing"></sme-pivot-tab>
        <sme-pivot-tab label="Controls" route="/dev/controls"></sme-pivot-tab>
        <sme-pivot-tab label="Pipes" route="/dev/pipes"></sme-pivot-tab>
        <sme-pivot-tab label="Styles" route="/dev/styles"></sme-pivot-tab>
        <sme-pivot-tab label="MsftSme" route="/dev/msftsme"></sme-pivot-tab>
    </sme-pivot>
</div>