<sme-tool-header>Windows Container Management</sme-tool-header>
<div>
  <sme-action-bar class="fixed-flex-size tool-bar first-row">
      <sme-action-button #action [text]="'Start'" [iconClass]="'sme-icon icon-win-upload'" (execute)="startSelected($event)"></sme-action-button>
      <sme-action-button #action [text]="'Stop'" [iconClass]="'sme-icon icon-win-download'" (execute)="stopSelected($event)"></sme-action-button>
  </sme-action-bar>
</div>
<div class="sme-layout-relative sme-position-flex-auto">
  <sme-data-table #simpleDataTable [items]="containers" [(selection)]="selectedData1" class="sme-layout-absolute sme-position-inset-none"
    [defaultSortColumn]="customSortColumn" [defaultSortMode]="1" style="height: 300px;" >
    <sme-data-table-column field="image" header="Image Name" sortable="true"></sme-data-table-column>
    <sme-data-table-column field="containerId" header="Container ID" sortable="true"></sme-data-table-column>
    <sme-data-table-column field="status" header="Container State" sortable="true"></sme-data-table-column>
  </sme-data-table>
</div>