<div class="sme-layout-relative sme-position-vertical-none sme-position-horizontal-md sme-documentation">
  <h1>Wizard Control</h1>

  <section>
    <p>
      The wizard control is a component for guiding a user through a series of steps in order to complete a long,
      multi-step process. A common use for the wizard is gathering and storing user input, and presenting information.
      The developer implementing this control can customize the contents of the steps, apply validation logic where
      necessary, and react to certain inputs by skipping over a step(s).
    </p>

    <h3><u>Overview</u></h3>
    <p>
      The wizard control is made up of 4 key parts:
    </p>
    <ol>
      <li>
        <b>A list of stages along the top.</b><br />
        The developer will initialize the desired stages list using the <code>WizardBuilder</code>.
      </li>
      <li>
        <b>A list of steps on the left side panel.</b><br />
        The developer will initialize the desired steps list using the <code>WizardBuilder</code>.
      </li>
      <li>
        <b>Navigation buttons along the bottom.</b><br />
        Users can navigate through the steps using the back/next buttons.<br />
        They can also exit the wizard at any time (which will present a confirmation dialog), or finish if they are at
        the last step.
      </li>
      <li>
        <b>The rendered step component in the right/center panel.</b><br />
        The wizard dynamically renders the relevant step component, based on selection/progress through the steps
        list.
      </li>
    </ol>
    <br />
  </section>

  <section>
    <h3><u>Implementing the Wizard Control</u></h3><br />
    <h4>Wizard Step Components</h4>

    <p>
      The developer has control over what to render as the contents of each step. The most common use case is for the
      developer to create a distinct component (and template) for each step.
      <br />
      There are a number of example components in the <code>dev-guide/src/app/modules/controls/wizard/components</code>. An
      example of such a component is <code>simple-text-input</code> which also demonstrates the use of a data model, and
      input validation.<br />
      <br />
      <b>Note: </b>When creating these components to be dynamically rendered steps, note that:
    </p>
    <ul>
      <li>
        i) They must extend the <code>WizardStepComponent&lt;T&gt;</code> class, where <code>T</code> is the
        developer-created
        Model (described below).
      </li>
      <li>
        ii) They must be included in the <code>entryComponents</code> array in the module definition that imports the
        wizard.
      </li>
    </ul>
    <br />

    <h4>Wizard Builder</h4>

    <p>
      The WizardBuilder class allows you the instantiate your wizard by exposing methods for you to:<br />
      <br />
      <b>i)</b> Create stages and steps – using the <code>addStepInStage</code> method, which takes 3 arguments:
      <br />
      a) The name of the step – which will appear in the steps list.
      <br />
      b) The componentType of the step – these are the custom components created by the developer which handle step
      contents.
      <br />
      c) The name of the stage within which the step should be appear. <br />
      <br />
      <b>Note: </b> When considering the order by the steps will appear in the steps list for a given stage, the order
      of the <code>addStepsInStage</code> calls is the determining factor.<br />
      <br />
      <b>ii)</b> Initialize various optional parameters if required. Setters have been provided for these
      attributes.
    </p>

    <p>
      <b>Table of Parameters:</b>
    </p>

    <table>
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Required</th>
      </thead>
      <tbody>
        <tr>
          <td><code>heading</code></td>
          <td>The title to be displayed above the stages list.</td>
          <td>string</td>
          <td>No</td>
        </tr>
        <tr>
          <td><code>showExitConfirmationDialog</code></td>
          <td>The boolean which determines whether a<br />
            confirmation dialog will be shown when<br />
            'Exit' is clicked. The default is true.
          </td>
          <td>boolean</td>
          <td>No</td>
        </tr>
        <tr>
            <td><code>canNavigateToPreviousStep</code></td>
            <td>The boolean which determines whether the<br />
              back button will be removed and <br />
              navigation to a previous step is not possible.
            </td>
            <td>boolean</td>
            <td>No</td>
          </tr>
        <tr>
          <td><code>finishView</code></td>
          <td>The view which will be displayed when ‘Finish’<br />
            button is clicked on the last step of the last stage.</td>
          <td>Type&lt;Any&gt;</td>
          <td>No</td>
        </tr>
        <tr>
          <td><code>hideStepsListSidePane</code></td>
          <td>The boolean which determines whether or not the<br />
            steps list will be shown. The default is true. <br />
            (‘False’ may be useful if there is one step<br />
            per stage, for all stages).</td>
          <td>boolean</td>
          <td>No</td>
        </tr>
        <tr>
          <td><code>exitButtonTitle</code></td>
          <td>The string which implements custom text to the<br />
            'Exit' button. For example 'Cancel'.</td>
          <td>string</td>
          <td>No</td>
        </tr>
        <tr>
          <td><code>finishButtonTitle</code></td>
          <td>The string which implements custom text to the<br />
            'Finish' button. For example 'Confirm'.</td>
          <td>string</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>

    <p>
      <b>Note: </b> The wizardBuilder is a required input binding when implementing the wizard via the
      <code>&lt;sme-wizard&gt;</code> markdown tag.
    </p>
    <br />

    <h4>Model</h4>
    <p>
      The model is the second required input binding when using the wizard via the <code>&lt;sme-wizard&gt;</code>
      tag.<br />
      This model should be defined by the developer, and it determines what data can be stored throughout the wizard
      experience.<br />
      <br />
      This interface must extend the <code>WizardModel</code> class. (In the example, refer to the <code>data.ts</code>
      file as an
      example).<br />
      <br />
      <b>Note:</b> This model will be accessible throughout your custom defined WizardStepComponents. The developer has
      sole responsibility for updating the Model throughout the wizard experience.
    </p>
    <br />

    <h4>Markdown & Input Binding</h4>
    <p>As mentioned above, to use the wizard in a template, it should be implemented as:</p>
    <code>&lt;sme-wizard [wizardBuilder]="yourBuilder" [model]="yourModel"&gt;&lt;sme-wizard&gt;</code><br />
    <br />
    <p>
      The two required input bindings should be instantiated and supplied as described.
    </p>
    <br />
  </section>

  <section>
    <h3><u>Custom Wizard Functionality</u></h3>
    <br />

    <h4>Validation</h4>
    <p>
      There are two key parts to validation inside the wizard:
    </p>
    <ul>
      <li>
        A callback named <code>runValidation</code> is exposed via the <code>WizardStepComponent</code> class (which all
        steps should
        inherit).<br />
        If a step requires validation, this callback should be set as a callback that returns
        <code>Observable&lt;WizardStepValidation&gt;</code>.
      </li>
      <li>
        In addition, via the <code>WizardStepComponent</code> inherited class, all step components get access to a
        public attribute <code>valid</code>. The navigation buttons use this as the primary disabled state indicator.
        Update this class member whenever the validation state changes.
      </li>
    </ul>

    <p>
      <b>Note: </b> Validation on inputs is triggered when the user clicks the Next button (and when they click the
      Finish button, if validation is implemented on the final step).
    </p>
    <br />

    <h4>Event Emitters</h4>
    <p>
      To allow for further flexibility, a number of EventEmitters have been provided, so that the developer can react to
      certain triggers, if necessary.
    </p>


    <table>
      <thead>
        <th>Event Name</th>
        <th>Trigger</th>
        <th>When is it useful?</th>
      </thead>
      <tbody>
        <tr>
          <td><code>stepInvalidated</code></td>
          <td>The event fired when a step validation fails.<br />
            (Validation must be implemented on the step). </td>
          <td>In this scenario: the user inputs something, clicks Next, <br />
            validation is triggered, there input is invalid, <br />
            the developer may want to do something at this point.</td>
        </tr>
        <tr>
          <td><code>stepSubmitted</code></td>
          <td>The event fired when the step is submitted.</td>
          <td>If the developer needs to be informed of progress <br />
            through the wizard.</td>
        </tr>
        <tr>
          <td><code>exit</code></td>
          <td>The event fired when the wizard is exited<br />
            (before reaching the final step).</td>
          <td>If the developer wants to handle Exit logic themselves. <br />
            This trigger notifies the developer <br />
            about the Exit event</td>
        </tr>
        <tr>
          <td><code>finished</code></td>
          <td>The event fired when the final step is submitted.</td>
          <td>If the developer doesn’t supply a ‘finishView’ via the <br />
            WizardBuilder, clicking ‘Finish’ will not do anything from a <br />
            user’s perspective. This is where the developer can provide logic. </td>
        </tr>
      </tbody>
    </table>
    <br />

    <h4>Skipping Steps Dynamically</h4>
    <p>
      As described, the <code>Back</code> and <code>Next</code> buttons are the primary controllers of navigation
      throughout the wizard
      (although users can also click on completed steps and stages to view them again).
      To provider greater flexibility, there is a way to dynamically ‘skip’ steps in response the user inputs as they
      move through the wizard. Via the <code>WizardStepComponent</code> inherited class, all step components get access
      to a public
      attribute <code>skipped</code>. The developer can utilize this attribute to mark the step is ‘skippable’ dependent
      on some
      criteria – the most common scenario being in response to input on a previous step (whose data must be stored in
      the Model, so it is accessible to this ‘skippable’ component).<br />
      <br />
      <b>Note: </b>
    </p>
    <ul>
      <li>
        If all steps within a stage are ‘skippable’, and all of these future steps’ <code>skipped</code> attribute is
        set to true
        as a user progresses through the wizard, the whole stage will be skipped over.
      </li>
      <li>
        If the user clicks <code>Back</code> and edits the step which has determined another step will be skipped, the
        updates will propagate, and the step will no longer be skipped.
      </li>
    </ul>
  </section>
  <br />

  <div class="sme-layout-relative" style="height: 700px;">
    <sme-wizard [wizardBuilder]="wizardBuilder" [model]="model" (stepSubmitted)="onStepSubmitted()"
                (stepInvalidated)="onStepInvalidated($event)" (exit)="onExit()" (finished)="onFinish()">
    </sme-wizard>
  </div>
</div>
