<h1>Wizard Component</h1>

<section>
  <h3>Description</h3>
  <p>
    The wizard component is a component for guiding a user through a series of steps to gather input in order to complete a complex
    operation. A common use for a wizard is to collect input and to change the experience depending on the selection of the
    user. Instead of just if-ing additional inputs into existence based on the user's selection, the wizard component allows
    us to specify which steps are shown. The developer consuming the tool can react to selections users have made in the
    wizard and change the steps accordingly.
  </p>

  <p>
    There are three parts to the wizard tool: The step list, the rendered component, and the navigation buttons. The wizard works
    by dynamically rendering components in a region of the tool based on the selection in the steps list. The preferred method
    of navigating the wizard is either by clicking steps or using the back/next buttons. If the consumer of the wizard wants
    to provide their own buttons and functionality, they can include a <code>&lt;sme-wizard-footer&gt;&lt;/sme-wizard-footer&gt;</code>
    inside of the <code>&lt;sme-wizard&gt;&lt;/sme-wizard&gt;</code>. Additionally, you can call <code>moveToNextStep()</code> or
    <code>moveToPreviousStep()</code> methods on the <code>WizardComponent</code> class. In order to do this, you can declare
    a <code>@ViewChild(WizardComponent) public wizardComponent</code> class member of whatever component is consuming the
    wizard. This will allow you to programmatically interact with your wizard component.
  </p>

  <p>
    When the consumer of the component is initializing their steps, they can declare dependency on other steps that blocks them
    from being manually accessed until the dependencies are completed. <b>NOTE:</b> A step having dependencies does NOT
    block programmatically moving to another step. It's up to the developer to ensure that buttons or whatever they're using
    to navigate are disabled properly.
  </p>

  <p>The prerequisites for using the wizard component are as follows:</p>
  <ul>
    <li>
      Any component to be dynamically rendered by the wizard must extend the <code>WizardStepComponent</code> class.
    </li>
    <li>
      Any component to be dynamically rendered by the wizard must be included in the <code>entryComponents</code> array in
      the module defintion that imports the wizard.
    </li>
    <li>
      The model input must extend the <code>WizardModel</code> interface.
    </li>
  </ul>
</section>

<section>
  <h3>Guidelines</h3>

  <p>Below are some guidelines regarding specific details around using the component.</p>

  <h3>Buttons &amp; Interactions</h3>
  <p>
    In an attempt to not restrict users and their scenarios, the wizard component was developed with the ability to customize
    what buttons are included for navigation. The wizard component exposes navigation methods in order to facilitate this.
  </p>

  <p>
    The recommendation for users is to have a "Back" button, a "Next" button, and a "Cancel" button. Additionally, when the user
    reaches the last step or they're about to take action based on the information the wizard has been collecting, the "Next"
    button should become a "Save" or "Finish" button.
  </p>

  <h3>Data Model State</h3>
  <p>
    Due to the complex/varying nature of the data models that can be passed in, the wizard component makes no direct changes
    to the data model. Instead, it is up to the component of each step to modify it. Additionally, in order to properly reset
    the data model, the consumer of the wizard component will need to "zero-out" or reset the data model themselves.
  </p>

  <h3>Validation</h3>
  <p>
    There are multiple aspects to validation with the wizard component. Firstly, every component who extends
    <code>WizardStepComponent</code> gets access to a public attribute <code>valid</code>. The built in buttons that come
    with the wizard for navigation use this as the primary disabled state indicator. Update this class member whenever the
    state changes.
  </p>
  <p>
    Additionally, the wizard comes with validation hooks for after the built in next button has been clicked. In order to take
    advantage of this, in your component that extends <code>WizardStepComponent</code>, you need to set the class callback
    function <code>runValidation()</code> to a callback that returns an <code>Observable&lt;WizardStepValidation&gt;</code>.
  </p>

</section>

<section>
  <h3>Parameters</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Required</th>
    </thead>
    <tbody>
      <tr>
        <td>model</td>
        <td>The data model for sharing data across the wizard.</td>
        <td>T extends WizardModel</td>
        <td>True</td>
      </tr>
      <tr>
        <td>steps</td>
        <td>The steps the wizard will progress through.</td>
        <td>WizardStep[]</td>
        <td>True</td>
      </tr>
      <tr>
        <td>title</td>
        <td>The title of the wizard.</td>
        <td>string</td>
        <td>False</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h3>Events</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr>
        <td>onCancelClicked</td>
        <td>The event fired when the cancel button is clicked.</td>
      </tr>
      <tr>
        <td>onComponentSubmitted</td>
        <td>The event fired when the rendered component calls <code>componentSubmitted()</code>.</td>
      </tr>
      <tr>
        <td>onError</td>
        <td>The event fired when the result of <code>runValidation()</code> indicates <code>isValid</code> is false.</td>
      </tr>
      <tr>
        <td>onFinishClicked</td>
        <td>The event fired when the finish button is clicked.</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h3>Attributes</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Read Only</th>
    </thead>
    <tbody>
      <tr>
        <td>backButtonText</td>
        <td>The text of the back button.</td>
        <td>string</td>
        <td>True</td>
      </tr>
      <tr>
        <td>cancelButtonText</td>
        <td>The text of the cancel button.</td>
        <td>string</td>
        <td>True</td>
      </tr>
      <tr>
        <td>currentStep</td>
        <td>The current step of the wizard.</td>
        <td>WizardStep</td>
        <td>True</td>
      </tr>
      <tr>
        <td>currentStepComponent</td>
        <td>The dynamically rendered component of the current step.</td>
        <td>WizardStepComponent&lt;WizardModel&gt;</td>
        <td>True</td>
      </tr>
      <tr>
        <td>model</td>
        <td>The data model for sharing data across the wizard. <b>NOTE</b>: This is the same data model that is also a required
          input to the component.</td>
        <td>T extends WizardModel</td>
        <td>False</td>
      </tr>
      <tr>
        <td>nextButtonText</td>
        <td>The text of the next button.</td>
        <td>string</td>
        <td>True</td>
      </tr>
      <tr>
        <td>showButtons</td>
        <td>Whether or not to show built-in navigation buttons.</td>
        <td>boolean</td>
        <td>True</td>
      </tr>
      <tr>
        <td>stepIndex</td>
        <td>The index of the current step of the wizard.</td>
        <td>number</td>
        <td>False</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h3>Methods</h3>
  <table>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Return Type</th>
    </thead>
    <tbody>
      <tr>
        <td>completeCurrentStep()</td>
        <td>Completes the current step of the wizard and returns the latest completed state.</td>
        <td>boolean</td>
      </tr>
      <tr>
        <td>completeStep(stepIndex: number)</td>
        <td>Completes the specified step of the wizard (if possible) and returns the latest completed state.</td>
        <td>boolean</td>
      </tr>
      <tr>
        <td>failCurrentStep()</td>
        <td>Fails the current step of the wizard and returns the latest completed state.</td>
        <td>boolean</td>
      </tr>
      <tr>
        <td>failStep(stepIndex: number)</td>
        <td>Fails the specified step of the wizard (if possible) and returns the latest completed state.</td>
        <td>boolean</td>
      </tr>
      <tr>
        <td>moveToNextStep()</td>
        <td>Moves the wizard to the next step, if possible.</td>
        <td>void</td>
      </tr>
      <tr>
        <td>moveToPreviousStep()</td>
        <td>Moves the wizard to the previous step, if possible.</td>
        <td>void</td>
      </tr>
      <tr>
        <td>ngOnInit()</td>
        <td>The method run when the components inputs are initialized.</td>
        <td>void</td>
      </tr>
      <tr>
        <td>onBackClick()</td>
        <td>The method called when the back button is clicked.</td>
        <td>void</td>
      </tr>
      <tr>
        <td>onCancelClick()</td>
        <td>The method called when the cancel button is clicked.</td>
        <td>void</td>
      </tr>
      <tr>
        <td>onNextClick()</td>
        <td>The method called when the next/finish button is clicked.</td>
        <td>void</td>
      </tr>
      <tr>
        <td>onStepClick()</td>
        <td>The method called when a step is clicked.</td>
        <td>void</td>
      </tr>
      <tr>
        <td>reset()</td>
        <td>Resets every step of the wizard to be incomplete and moves back to the first step.</td>
        <td>void</td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h3>Example: Character Creator</h3>

  <div class="code-example">
    <p>Example Code</p>
    <code>&lt;sme-wizard [steps]=&quot;steps&quot; [model]=&quot;model&quot; title=&quot;Character Creator&quot;&gt;&lt;/sme-wizard&gt;</code>
  </div>

  <sme-wizard [steps]="steps" [model]="model" title="Character Creator"></sme-wizard>
</section>