table {
  margin-top: 24px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 6px !important;
}

.code-example {
  margin-top: 12px;
  margin-bottom: 24px;
}

.code-example p {
  margin-bottom: 12px;
}

.code-example p:first-of-type {
  font-weight: bold;
  margin-bottom: 0;
}

.value-spy {
  margin-top: 12px;
}

.value-spy p:first-of-type {
  font-weight: bold;
  margin-bottom: 12px;
}

.value-spy p {
    padding: 0;
}

.value-spy textarea {
    margin-top: 12px;
}

textarea {
  height: 300px;
  width: 250px;
}

.wizard-buttons {
    float: right;
}
