<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
  <h1>Accessibility</h1>
  <section>
    <h2>What is Accessibility?</h2>
    <p>Accessibility means that people with disabilities or different abilities should be able to perceive, understand, navigate and interact with any application.</p>
    <p>There are many possible disabilities or impairments, including limitations in mobility, vision, color perception, hearing, speech, cognition, and literacy. However, you can address most requirements by following the guidelines offered here. This means providing:</p>
    <ul>
        <li>Support for keyboard interactions and screen readers.</li>
        <li>Support for user customization, zoom setting (magnification), color themes, and high-contrast settings.</li>
        <li>Alternatives or supplements for parts of your UI.</li>
    </ul>
  </section>
  <section>
    <h2>What is WAI-ARIA?</h2>
    <p><abbr title="Web Accessibility Initiative - Accessible Rich Internet Applications">WAI-ARIA</abbr> is a technical specification that provides a framework to improve the accessibility and interoperability of web content and applications.</p>
    <p>WAI-ARIA is bunch of attributes on HTML5 elements which enhance the semantics of web elements to help provide additional meaning and support to assistive technologies like screen readers.</p>
    <p><a href="https://www.w3.org/TR/wai-aria-1.1/" target="_blank">Click here</a> to see the detailed documentation for WAI-ARIA 1.1. To learn ARIA for adding accessibility to your custom control, we highly recommend getting familiar with section 5 and 6 of this documentation to create an accessible control design.</p>
  </section>
  <section>
    <h2>Windows Admin Center built-in accessibility</h2>
    <p>Windows Admin Center leverages WAI-ARIA extensively to make the application accessible for variety of user bases. Windows Admin Center thrives on built in accessibility within its controls and navigation handled through shell accessibility manager. </p>
    <p>If you are using SDK and utilizing Windows Admin Center controls, you shouldn’t have to add any major accessibility support unless adopters of the SDK builds their own controls or UI patterns. </p>
  </section>
</div>
