<div class="sme-layout-absolute sme-position-vertical-none sme-position-horizontal-md sme-documentation">
    <sme-guided-panel #panel firstPaneId="root">
        <sme-guided-pane #pane paneId="root">
            <div>root content</div>
            <button (click)="panel.activate('pane1')">Activate Pane 1</button>
            <button (click)="panel.activate('pane2')">Activate Pane 2</button>
        </sme-guided-pane>
        <sme-guided-pane #pane paneId="pane1">
            <div>I am pane 1</div>
            <button (click)="panel.activate('root')">Activate Root Pane</button>
            <button (click)="panel.activate('pane2')">Activate Pane 2</button>
        </sme-guided-pane>
        <sme-guided-pane #pane paneId="pane2">
            <div>I am pane 2</div>
            <button (click)="panel.activate('root')">Activate Root Pane</button>
            <button (click)="panel.activate('pane1')">Activate Pane 1</button>
        </sme-guided-pane>
    </sme-guided-panel>
</div>