<div class="sme-layout-content-zone-padded">
    <div>
        <h3>Message Dialog Example</h3>
        <button (click)="onClickMessageDialog()">Click me for a message dialog!</button>
    </div>

    <div>
        <h3>Message Dialog with Link Example</h3>
        <button (click)="onClickMessageDialogWithLink()">Click me for a message dialog with link!</button>
    </div>

    <div>
        <h3>Message Dialog with Checkbox Example</h3>
        <button (click)="onClickMessageDialogWithCheckbox()">Click me for a message dialog with a checkbox!</button>
    </div>

    <div>
        <h3>Choice Dialog Example</h3>
        <button (click)="onClickChoiceDialog()">Click me for a choice dialog!</button>
    </div>

    <div>
        <h3>Confirmation Dialog Example</h3>
        <button (click)="onClickConfirmationDialog()">Click me for a confirmation dialog!</button>
    </div>

    <div>
        <h3>Confirmation Dialog Double Check Example</h3>
        <button (click)="onClickDoubleCheckConfirmationDialog()">Click me for a confirmation dialog with a double check (confirm button
      disabled if double check box unchecked)!</button>
    </div>

    <div>
        <h3>Confirmation Dialog With Alert Example</h3>
        <div>
            <button (click)="onClickAlertConfirmationDialog('Error')">Click me for a confirmation dialog with an Error alert message.</button>
        </div>
        <div>
            <button (click)="onClickAlertConfirmationDialog('Warning')">Click me for a confirmation dialog with an Warning alert message.</button>
        </div>
        <div>
            <button (click)="onClickAlertConfirmationDialog('Informational')">Click me for a confirmation dialog with an Informational alert
        message.</button>
        </div>
    </div>


    <div>
        <h3>Confirmation Dialog With Alert-Style Button But No Alert Example</h3>
        <div>
            <button (click)="onClickConfirmationDialogWithAlertStyleButton('Error')">Click me for a confirmation dialog with Critical button but
        no alert.</button>
        </div>
        <div>
            <button (click)="onClickConfirmationDialogWithAlertStyleButton('Warning')">Click me for a confirmation dialog with an Warning button
        but no alert.</button>
        </div>
        <div>
            <button (click)="onClickConfirmationDialogWithAlertStyleButton('AnythingElse')">Click me for a regular confirmation dialog.</button>
        </div>
    </div>

    <div>
        <h3>Confirmation List Dialog Example</h3>
        <button (click)="onClickConfirmationListDialog()">Click me for a confirmation dialog with a list!</button>
        <button (click)="onClickConfirmationListDialog('radio')">Click me for a confirmation dialog with a radio list!</button>
    </div>

    <div>
        <h3>Custom Full screen Dialog Example</h3>
        <button (click)="onClickFullScreenDialog()">Click me for a full screen dialog!</button>
    </div>
    <div>
        <h3>Custom dialog that opens a dialog</h3>
        <button (click)="onClickConfirmationDialogChain()">Click me for a dialog that opens another dialog!</button>
    </div>
</div>

<sme-dialog-example-full-screen-dialog id="full-screen-dialog"></sme-dialog-example-full-screen-dialog>
<sme-dialog-example-dialog-chain id="dialog-chain"></sme-dialog-example-dialog-chain>