<sme-dialog #dialog dialogMode="fullscreen" fullScreenLeftDistance="20%" [ariaLabel]="title" [ariaDescription]="label">
  <sme-dialog-header>
    <h3>{{ title }}</h3>
  </sme-dialog-header>
  <sme-dialog-content>
    <p>{{ label }}</p>
    <sme-loading-wheel></sme-loading-wheel>
  </sme-dialog-content>
  <sme-dialog-footer class="sme-layout-float-right">
      <button type="button" class="sme-button-primary" (click)="onClose()">{{ closeButtonText }}</button>
      <button type="button" (click)="onCancel()">{{ cancelButtonText }}</button>
  </sme-dialog-footer>
</sme-dialog>
