<sme-confirmation-dialog id="confirmation-dialog-chain"></sme-confirmation-dialog>
<sme-dialog-example-full-screen-dialog id="full-screen-dialog-chain"></sme-dialog-example-full-screen-dialog>
<sme-dialog #dialog dialogMode="pane" [ariaLabel]="title" ariaDescription="This is some description">
  <sme-dialog-header>
    <h3>{{ title }}</h3>
  </sme-dialog-header>
  <sme-dialog-content>
    <p>{{ label }}</p>
    <button type="button" (click)="onClickFullScreenDialog()">{{ openButtonText }}</button>
  </sme-dialog-content>
  <sme-dialog-footer class="sme-layout-float-right">
      <button type="button" class="sme-button-primary" (click)="onClose()">{{ closeButtonText }}</button>
      <button type="button" (click)="onCancel()">{{ cancelButtonText }}</button>
  </sme-dialog-footer>
</sme-dialog>
