<div class="sme-layout-absolute sme-position-inset-none sme-documentation">
    <h1>Application Speech output</h1>
    <section>
      <p>Application speech output using screen readers is heavily dependent on how it is designed and what attributes, states and values can be programmatically determined. For all user interface components (including but not limited to: form elements, links and components), the name and role can be programmatically determined; states, properties, and values that can be set by the user can be programmatically set; and notification of changes to these items is available to user agents, including assistive technologies.</p>
      <p><b>Adaptable -Info and Relationships:</b> Create content that can be presented in different ways without losing information or structure. Examples of this would be to use ARIA landmarks to let AT users navigate to different regions, add proper roles, grouping roles to identify different regions of the forms, add aria-label, aria-labelledby to provide name for controls.</p>
    </section>
    <section>
        <h2>Use of correct HTML5 DOM elements</h2>
        <p>Content coming soon...</p>
      </section>
</div>
